.pagination{
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
  li{
    display: inline;
    text-align: center;
    a{
      float: left;
      display: block;
      font-size: 14px;
      text-decoration: none;
      padding: 5px 12px;
      color:#444;
      margin-left: -1px;
      border:1px solid transparent;
      line-height: 1.5;
      &.active{  cursor: default;}
      &:active{ outline: none;}
      margin-left: 3px;
      padding: 0;
      width: 30px;
      height: 30px;
      line-height: 30px;
      @include border-radius(100%);
      &:hover{
        color: #fff;
        background-color: #4DAD16;
      }
    }

    &.active, &:active{
      a {
        color: #fff;
        background-color: #37B247;
      }
    }
  }
}