
.combo-select {
  position: relative;
  border: solid 1px #d2d2d2;
  max-width: 400px;
  font: 100% Helvetica, Arial, Sans-serif;
  font-size: 14px;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  line-height: 1.5;
}
.combo-select .combo-input {
  margin-bottom: 0;
}
/**
 * Input field
 */
.combo-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  border-radius: 0px;
  font-size: 14px;
}
.combo-input:focus {
  outline: none;
}
/**
 * Arrow
 */
.combo-arrow {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  width: 40px;
  color: #999999;
}
.combo-arrow:before {
  content: "\E92D";
  font-family: 'Feather';
  font-size: 22px;
  top: -35px;
  display: block;
  width: 0;
  height: 0;
  right: 25px;
  bottom: 0;
  position: absolute;
  margin: auto 0;
}
/**
 * When opened
 */
.combo-open .combo-arrow {
  border-color: #51A7E8;
}
.combo-open .combo-arrow:before {
  content: "\E930";
}
/**
 * When focused
 */
.combo-focus {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-color: #51A7E8;
}
.combo-focus input {
  border-color: #51A7E8;
}
/**
 * Hide native select
 */
.combo-select select {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  opacity: 0;
}

@media only screen and (min-width: 960px) {
  .combo-select select {
    left: -1px;
    top: -1px;
    width: 0;
    height: 0;
    margin: 0;
  }
}
/**
 * Selected option
 */
.option-selected {
  background-color: #eee;
}
/**
 * Hovered option
 */
.option-hover {
  background-color: #dfdfdf;
  color: #454545;
}
/**
 * Option item
 */
.option-item {
  cursor: pointer;
  /*border-bottom: 1px #e3e3e3 solid;*/ }
.option-item:hover {
  background-color: #efefef;
  color: #454545;
}
.option-item:last-child {
  border-bottom: none;
}
/**
 * Disabled and optgroups
 */
/*.option-group {
  cursor: text;
  font-weight: 600;
  background: #e1e1e1;
  border: 1px #ccc solid;
  border-width: 1px 0; }*/

/**
 * Disabled
 */
.option-disabled {
  opacity: 0.5;
}
/**
 * Dropdown
 */
.combo-dropdown {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
  min-width: 100%;
  max-width: 300px;
  max-height: 270px;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  /*display: none;*/
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}
.combo-dropdown li {
  list-style: none;
  padding: 10px 15px;
  margin: 0 !important;
}
/**
 * On Active
 */
.combo-open .combo-dropdown {
  /*display: block; */
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
/**
 * Search marker
 */
.combo-marker {
  text-decoration: underline;
}
