.aside {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: $aside-width;
	background: #ffffff;
	border-left: 1px solid $border-color;
	display: flex;
	flex-direction: column;
	z-index: 100;
	visibility: hidden;
	box-shadow: 0 0 5px 2px rgba(#000, .05);

	body.aside-opened & {
		@media (min-width: 1600px) {
			visibility: visible;
		}
	}
}

.aside-body {
	padding: 1.5rem;
	flex: 1 1 auto;
	overflow: auto;
}

.aside-footer {
	padding: 1rem 1.5rem;
	border-top: 1px solid $border-color;
}

.aside-header {
	padding: 1rem 1.5rem;
	border-bottom: 1px solid $border-color;
}

$aside-w: 120px;

#aside {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background: darken(#ffffff, 1);
	display: flex;
	flex-direction: column;
	z-index: 100;
	width: $aside-w;

	@media all and (min-width: 767px){
		.nav-item {
			display: block;
			width: 100%;
			.nav-link {
				display: block;
				text-align: center;
				border-bottom: rgba(0,0,0,0.05) 1px solid;
				&.active {
					border-left: $blue 1px solid;
				}
				i {
					font-size:1.5em;
				}
				span {
					display: block;
					font-size: 0.8em;
				}
			}
		}
	}
}

.page-main {
	&.aside-left {
		margin-left: $aside-w;
	}
}