//@import 'variables';
//@import '../bootstrap/mixins';
@import 'functions';

@import 'core';
@import 'type';
@import 'grid';

@import 'layout';
@import 'aside';
@import 'header';
@import 'footer';
@import 'colors';
@import 'text';
@import 'utilities';

@import 'nav';
@import 'button';
@import 'alert';
@import 'close';
@import 'badge';
@import 'tables';
@import 'breadcrumb';
@import 'pagination';
@import 'cards';
@import 'popover';
@import 'dropdown';
@import 'list';
@import 'list-group';
@import 'avatar';
@import 'product';
@import 'progress';
@import 'icon';
@import 'image';
@import 'link';
@import 'media';
@import 'form';
@import 'sparkline';
@import 'social';
@import 'maps';
@import 'statuses';
@import 'charts';
@import 'chips';
@import 'stamp';
@import 'chat';
@import 'example';
@import 'tag';
@import 'syntax';
@import 'infobox';
@import 'carousel';
@import 'datatables';

@import 'forms/custom-range';
@import 'forms/custom-selectgroup';
@import 'forms/custom-switch';
@import 'forms/custom-imagecheck';
@import 'forms/custom-colorinput';

@import 'timeline';

// @import 'browser';
// @import 'flag';
// @import 'payments';
@import 'jvectormap';
@import 'selectize';

@import 'fonts/feather';


.page-main {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}