<template>
    <div class="card">
        <div class="card-status bg-blue"></div>
        <div class="card-header">
            <h3 class="card-title">MPK</h3>
            <div class="card-options">
                <form method="post" v-on:submit.prevent>
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Wyszukaj..." name="s" v-model="search" v-on:keyup.enter="getVueItems()">
                        <span class="input-group-btn ml-2">
                            <button class="btn btn-sm btn-primary" type="button" @click.prevent="getVueItems()">
                              <span class="fe fe-search"></span>
                            </button>
                          </span>
                    </div>
                </form>
                <a data-toggle="modal" data-target="#create-item" class=""><i class="fe fe-plus"></i></a>
                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
            </div>
        </div>

        <table class="table table-responsive-md">
            <tr>
                <th @click="setOrder('id')">
                    Identyfikator
                    <span v-if="order.field == 'id'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>
                <th @click="setOrder('name')">
                    Nazwa
                    <span v-if="order.field == 'name'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>
                <th>
                    Kierownik
                </th>
                <th @click="setOrder('contract_name')">
                    Nazwa kontraktu
                    <span v-if="order.field == 'contract_name'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>
                <th width="200px">Akcje</th>
            </tr>
            <tr v-for="item in items">
                <td>{{ item.id}}</td>
                <td>{{ item.name }}</td>
                <td>
                    <ul>
                        <li v-for="manager in item.managers" style="margin-bottom: 2px;">
                            {{ manager.name }} {{ manager.surname}}
                            <small> {{ manager.contract_name }} </small>
                        </li>
                    </ul>
                </td>
                <td>{{ item.contract_name }}</td>
                <td>
                    <button class="btn btn-primary" @click.prevent="editItem(item)"><i class="fe fe-edit"></i> </button>
                    <button class="btn btn-danger" @click.prevent="deleteItem(item)"><i class="fe fe-delete"></i> </button>
                </td>
            </tr>
        </table>


        <!-- Pagination -->
        <nav class="text-center">
            <ul class="pagination">
                <li v-if="pagination.current_page > 1">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(1)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevrons-left"></i>
                        </span>
                    </a>
                </li>
                <li v-if="pagination.current_page > 1">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(pagination.current_page - 1)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevron-left"></i>
                        </span>
                    </a>
                </li>
                <li v-for="page in pagesNumber"
                    v-bind:class="[ page == isActived ? 'active' : '']">
                    <a href="#"
                       @click.prevent="changePage(page)">{{ page }}</a>
                </li>
                <li v-if="pagination.current_page < pagination.last_page">
                    <a href="#" aria-label="Next"
                       @click.prevent="changePage(pagination.current_page + 1)">
                        <i class="fe fe-chevron-right"></i>
                    </a>
                </li>
                <li v-if="pagination.current_page < pagination.last_page">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(pagination.last_page)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevrons-right"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>


        <!-- Create Item Modal -->
        <div class="modal fade" id="create-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Dodaj MPK</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">


                        <form method="POST" enctype="multipart/form-data" v-on:submit.prevent="createItem" class="row col-12">

                            <div class="form-group col-md-6">
                                <label for="title">Nazwa:</label>
                                <input type="text" name="name" class="form-control" v-model="newItem.name" />
                                <span v-if="formErrors['name']" class="error text-danger">@{{ formErrors['name'] }}</span>
                            </div>

                            <!--<div class="form-group col-md-6">-->
                                <!--<label for="title">Kierownik:</label>-->
                                <!--<div class="input-group">-->
                                    <!--<select class="form-control" v-model="newItem.manager_id">-->
                                        <!--<option value="0" selected> Wybierz głównego kierownika </option>-->
                                        <!--<optgroup label="&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;">-->
                                            <!--<option v-for="manager in managers" v-bind:value="manager.id"> {{ manager.name }} {{ manager.surname}} / {{ manager.city }} </option>-->
                                        <!--</optgroup>-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<span v-if="formErrors['manager_id']" class="error text-danger">@{{ formErrors['manager_id'] }}</span>-->
                            <!--</div>-->
                            <div class="form-group col-md-5">
                                <label for="title">Nazwa kontraktu:</label>
                                <input type="text" name="contract_name" class="form-control" v-model="newItem.contract_name" />
                                <span v-if="formErrors['contract_name']" class="error text-danger">@{{ formErrors['contract_name'] }}</span>
                            </div>

                            <div class="form-group col-12 text-center">
                                <button type="submit" class="btn btn-success">Dodaj</button>
                            </div>


                        </form>


                    </div>
                </div>
            </div>
        </div>


        <!-- Edit Item Modal -->
        <div class="modal fade" id="edit-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Edycja MPK</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">


                        <form method="POST" enctype="multipart/form-data" v-on:submit.prevent="updateItem(fillItem.id)" class="row col-12">

                            <div class="form-group col-md-6">
                                <label for="title">Nazwa:</label>
                                <input type="text" name="name" class="form-control" v-model="fillItem.name" />
                                <span v-if="formErrorsUpdate['name']" class="error text-danger">@{{ formErrorsUpdate['name'] }}</span>
                            </div>

                            <!--<div class="form-group col-md-6">-->
                                <!--<label for="title">Kierownik:</label>-->
                                <!--<div class="input-group">-->
                                    <!--<select class="form-control" v-model="fillItem.manager_id">-->
                                        <!--<option value="0"> Wybierz głównego kierownika </option>-->
                                        <!--<optgroup label="&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;">-->
                                            <!--<option v-for="manager in managers" v-bind:value="manager.id"> {{ manager.name }} {{ manager.surname}} / {{ manager.city }} </option>-->
                                        <!--</optgroup>-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<span v-if="formErrorsUpdate['manager_id']" class="error text-danger">@{{ formErrorsUpdate['manager_id'] }}</span>-->
                            <!--</div>-->

                            <div class="form-group col-md-6">
                                <label for="title">Nazwa kontraktu:</label>
                                <input type="text" name="contract_name" class="form-control" v-model="fillItem.contract_name" />
                                <span v-if="formErrorsUpdate['contract_name']" class="error text-danger">@{{ formErrorsUpdate['contract_name'] }}</span>
                            </div>

                            <div class="col-md-6 text-center">
                                <label>Kierownicy:</label>
                                <div class="input-group">
                                    <select class="form-control" v-model="manager">
                                        <option v-for="manager in managers" v-bind:value="manager.id"> {{ manager.name }} {{ manager.surname}} / {{ manager.city }} </option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" @click.prevent="setMangerBuilding(manager.id, fillItem, 0)"><i class="fe fe-power"></i> </button>
                                    </div>
                                </div>
                                <br>
                                <ul>
                                    <li v-for="manager in fillItem.managers" style="margin-bottom: 2px;">
                                        {{ manager.name }} {{ manager.surname}}
                                        <small> {{ manager.contract_name }} </small>
                                        <button class="btn btn-danger" @click.prevent="setMangerBuilding(manager.id, fillItem, 1)"> <i class="fe fe-x"></i> </button>
                                    </li>
                                </ul>
                            </div>

                            <div class="form-group float-right col-12 text-center">
                                <button type="submit" class="btn btn-success">Zapisz</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                manager: {},
                order: {
                  field: 'id',
                  type: 'asc'
                },
                managers: [],
                items: [],
                search: '',
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
                formErrors: {},
                formErrorsUpdate: {},
                newItem: {"name":"","manager_id":0,"contract_name":"","managers": []},
                fillItem: {"name":"","manager_id":0,"contract_name":""}
            }
        },
        computed: {
            isActived: function () {
                return this.pagination.current_page;
            },
            pagesNumber: function () {
                if (!this.pagination.to) {
                    return [];
                }
                let from = this.pagination.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                let to = from + (this.offset * 2);
                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                let pagesArray = [];
                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },


        mounted() {
            console.log('Component mounted.')
            this.getVueItems(this.pagination.current_page);
            this.getManagers();
        },


        methods: {
            setOrder(field) {
                if(this.order.field == field)
                    this.order.type = this.order.type == "asc"?"desc":"asc";
                else {
                    this.order.field = field;
                    this.order.type = "asc";
                }

                this.getVueItems(1);

            },

            async setMangerBuilding(manager, building = false, to_delete = false) {
                if(!manager)
                    manager = this.manager;

                if(building && to_delete) {
                    let test = await building.managers.filter(function(obj) {
                        return obj['id'] === manager;
                    });
                    if(!test.length) {
                        toastr.error('Ten kierownik już istnieje.', 'Błąd', {timeOut: 5000});
                        return;
                    }
                }

                if(building.managers.length >= 3 && !to_delete) {
                    toastr.error('Nie można dodać więcej kiernowników.', 'Błąd', {timeOut: 5000});
                    return;
                }

                axios.post('/mpk/setmanager/'+manager+'/'+building.id+'/'+to_delete)
                    .then(async(response) => {

                        if(response.data.success)
                            toastr.success('Element został zaktualizowany.', 'Sukces', {timeOut: 5000});
                        else {
                            toastr.error(response.data.message, 'Błąd', {timeOut: 5000});
                            return;
                        }

                        let obj = await this.managers.filter(function(obj) {
                            return obj['id'] === manager;
                        });

                        if(obj.length)
                            obj = obj[0];
                        else return;

                        if(to_delete) {
                            console.log(building.managers);
                            let index = this.findWithAttr(building.managers, 'id',manager);
                            console.log(index);
                            console.log(manager);
                            if(index > -1)
                                building.managers.splice(index,1);

                            console.log(building.managers);
                        } else {
                            building.managers.push(obj);
                        }
                    })
            },

            getManagers() {
                axios.get('/manger?minonemanager=1&no_limit=1', ).then(response => {
                    console.log(response);
                    this.managers = response.data;
                });
            },

            getVueItems(page) {
                if(!page)
                    page = this.pagination.current_page;

                let params = {
                    page: page,
                    search: this.search
                }

                if(this.order.field != '') {
                    params['order'] = this.order.field;
                    params['order_direction'] = this.order.type;
                }

                axios.get('/mpk',
                    {
                        params
                    })
                    .then((response) => {
                        this.items = response.data.data.data;
                        this.pagination = response.data.pagination;
                    });
            },


            createItem() {
                var input = this.newItem;
                axios.post('/mpk', input)
                    .then((response) => {
                        this.changePage(this.pagination.current_page);
                        this.newItem = {"name":"","manager_id":0,"contract_name":""};
                        $("#create-item").modal('hide');
                        toastr.success('Element utworzony.', 'Sukces', {timeOut: 5000});
                    })
                    .catch((error) => {
                        if(error.response.data.hasOwnProperty('errors'))
                            this.formErrors = error.response.data.errors;
                        if(error.response.data.hasOwnProperty('message'))
                            toastr.error(error.response.data.message, 'Błąd', {timeOut: 5000});

                        /*
                        console.log(error.response);
                        this.formErrors = error.response.data;
                        let errors = error.response.data.errors;
                        let text = "";

                        for(let key in errors) {
                            text += `<li>${errors[key]}</li>`
                        }

                        swal({
                            title: 'Błąd!',
                            html: `Wystąpił błąd: <br> ${text}`,
                            type: 'success',
                            confirmButtonText: 'Okej'
                        });*/
                    });
            },


            deleteItem(item) {
                swal({
                    title: 'Czy na pewno usunąć?',
                    text: "Nie jesteś w stanie odwrócić tej akcji!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Tak, usuń!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/mpk/' + item.id).then((response) => {
                            this.changePage(this.pagination.current_page);
                            toastr.success('Element usunięty.', 'Sukces', {timeOut: 5000});
                        });
                    }
                });
            },


            editItem(item) {
                this.fillItem.title = item.title;
                this.fillItem.id = item.id;
                this.fillItem.description = item.description;
                this.fillItem = item;
                $("#edit-item").modal('show');
            },


            updateItem(id) {
                var input = this.fillItem;
                axios.put('/mpk/' + id, input).then((response) => {
                    this.changePage(this.pagination.current_page);
                    this.fillItem = {'title': '', 'description': '', 'id': ''};
                    $("#edit-item").modal('hide');
                    toastr.success('Element został zaktualizowany.', 'Sukces', {timeOut: 5000});
                })
                .catch((error) => {
                    if(error.response.data.hasOwnProperty('errors'))
                        this.formErrorsUpdate = error.response.data;
                    if(error.response.data.hasOwnProperty('message'))
                        toastr.error(error.response.data.message, 'Błąd', {timeOut: 5000});
                });
            },


            changePage(page) {
                this.pagination.current_page = page;
                this.getVueItems(page);
            },

            findWithAttr(array, attr, value) {
                for(var i = 0; i < array.length; i += 1) {
                    if(array[i][attr] === value) {
                        return i;
                    }
                }
                return -1;
            }
        }
    }
</script>