<template>
    <div class="card">
        <div class="card-status bg-blue"></div>
        <div class="card-header">
            <h3 class="card-title">Użytkownicy</h3>
            <div class="card-options">
                <form method="post" v-on:submit.prevent>
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Wyszukaj..." name="s" v-model="search" v-on:keyup.enter="getVueItems()">
                        <span class="input-group-btn ml-2">
                            <button class="btn btn-sm btn-primary" type="button" @click.prevent="getVueItems()">
                              <span class="fe fe-search"></span>
                            </button>
                          </span>
                    </div>
                </form>
                <a data-toggle="modal" data-target="#create-item" class=""><i class="fe fe-plus"></i></a>
                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
            </div>
        </div>

        <table class="table table-responsive-md">
            <tr>
                <th>Identyfikator</th>
                <th>Nazwa</th>
                <th>Email</th>
                <th width="200px">Akcje</th>
            </tr>
            <tr v-for="item in items">
                <td>{{ item.id}}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>
                    <button class="btn btn-primary" @click.prevent="editItem(item)"><i class="fe fe-edit"></i> </button>
                    <button class="btn btn-danger" @click.prevent="deleteItem(item)"><i class="fe fe-delete"></i> </button>
                </td>
            </tr>
        </table>


        <!-- Pagination -->
        <nav class="text-center">
            <ul class="pagination">
                <li v-if="pagination.current_page > 1">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(1)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevrons-left"></i>
                        </span>
                    </a>
                </li>
                <li v-if="pagination.current_page > 1">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(pagination.current_page - 1)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevron-left"></i>
                        </span>
                    </a>
                </li>
                <li v-for="page in pagesNumber"
                    v-bind:class="[ page == isActived ? 'active' : '']">
                    <a href="#"
                       @click.prevent="changePage(page)">{{ page }}</a>
                </li>
                <li v-if="pagination.current_page < pagination.last_page">
                    <a href="#" aria-label="Next"
                       @click.prevent="changePage(pagination.current_page + 1)">
                        <i class="fe fe-chevron-right"></i>
                    </a>
                </li>
                <li v-if="pagination.current_page < pagination.last_page">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(pagination.last_page)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevrons-right"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>


        <!-- Create Item Modal -->
        <div class="modal fade" id="create-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Dodaj użytkownika</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">


                        <form method="POST" enctype="multipart/form-data" v-on:submit.prevent="createItem" class="row col-12">

                            <div class="form-group col-md-6">
                                <label for="title">Nazwa:</label>
                                <input type="text" name="name" class="form-control" v-model="newItem.name" />
                                <span v-if="formErrors['name']" class="error text-danger">{{ formErrors['name'] }}</span>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="title">Email:</label>
                                <input type="text" name="email" class="form-control" v-model="newItem.email" autocomplete="nopee"  />
                                <span v-if="formErrors['email']" class="error text-danger">{{ formErrors['email'] }}</span>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="roles"> Role: </label>
                                <select name="roles" class="form-control" v-model="newItem.roles">
                                    <option v-for="option in roles" v-bind:value="option.id">
                                        {{ option.full_name }}
                                    </option>
                                </select>
                                <span v-if="formErrors['roles']" class="error text-danger">{{ formErrors['roles'] }}</span>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="title">Hasło:</label>
                                <input type="password" name="password" class="form-control" v-model="newItem.password" autocomplete="new-password" />
                                <span v-if="formErrors['password']" class="error text-danger">{{ formErrors['password'] }}</span>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Dodaj</button>
                            </div>


                        </form>


                    </div>
                </div>
            </div>
        </div>


        <!-- Edit Item Modal -->
        <div class="modal fade" id="edit-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Edycja użytkownika</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">


                        <form method="POST" enctype="multipart/form-data" v-on:submit.prevent="updateItem(fillItem.id)" class="row col-12">

                            <div class="form-group col-md-4">
                                <label for="title">Nazwa:</label>
                                <input type="text" name="name" class="form-control" v-model="fillItem.name" />
                                <span v-if="formErrorsUpdate['name']" class="error text-danger">{{ formErrorsUpdate['name'] }}</span>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="title">Email:</label>
                                <input type="email" name="email" class="form-control" v-model="fillItem.email" />
                                <span v-if="formErrorsUpdate['email']" class="error text-danger">{{ formErrorsUpdate['email'] }}</span>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="roles"> Role: </label>
                                <select name="roles" class="form-control" v-model="fillItem.roles" value="1">
                                    <option v-for="option in roles" v-bind:value="option.id">
                                        {{ option.full_name }}
                                    </option>
                                </select>
                                <span v-if="formErrorsUpdate['roles']" class="error text-danger">{{ formErrorsUpdate['roles'] }}</span>
                            </div>

                            <div class="form-group float-right">
                                <button type="submit" class="btn btn-success">Zapisz</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                items: [],
                roles: [],
                search: '',
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
                formErrors: {},
                formErrorsUpdate: {},
                newItem: {"name":"","email":"","roles":[], "password": ""},
                fillItem: {"name":"","email":"","roles":[]}
            }
        },
        computed: {
            isActived: function () {
                return this.pagination.current_page;
            },
            pagesNumber: function () {
                if (!this.pagination.to) {
                    return [];
                }
                let from = this.pagination.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                let to = from + (this.offset * 2);
                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                let pagesArray = [];
                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },


        mounted() {
            this.getVueItems(this.pagination.current_page);
        },


        methods: {


            getVueItems(page) {
                if(!page)
                    page = this.pagination.current_page;

                axios.get('/users?page=' + page + '&search='+this.search)
                    .then((response) => {
                        this.items = response.data.data.data;
                        this.pagination = response.data.pagination;
                        this.roles = response.data.roles;
                    });
            },


            createItem() {
                var input = this.newItem;
                axios.post('/users', input).then((response) => {
                    this.changePage(this.pagination.current_page);
                    this.newItem = {"name":"","email":"","roles":[],"password": ""};
                    $("#create-item").modal('hide');
                    toastr.success('Element utworzony.', 'Sukces', {timeOut: 5000});
                })
                .catch((error) => {
                    this.formErrors = error.response.data.errors;
                });
            },


            deleteItem(item) {

                swal({
                    title: 'Czy na pewno usunąć?',
                    text: "Nie jesteś w stanie odwrócić tej akcji!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Tak, usuń!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/users/' + item.id).then((response) => {
                            this.changePage(this.pagination.current_page);
                            toastr.success('Element usunięty.', 'Sukces', {timeOut: 5000});
                        });
                    }
                })
            },


            editItem(item) {
                this.fillItem.title = item.title;
                this.fillItem.id = item.id;
                this.fillItem.description = item.description;
                this.fillItem = item;
                this.fillItem.roles = (item.roles.length? item.roles[0].id : 4);
                $("#edit-item").modal('show');
            },


            updateItem(id) {
                var input = this.fillItem;
                axios.put('/users/' + id, input).then((response) => {
                    this.changePage(this.pagination.current_page);
                    this.fillItem = {'title': '', 'description': '', 'id': ''};
                    $("#edit-item").modal('hide');
                    toastr.success('Element został zaktualizowany.', 'Sukces', {timeOut: 5000});
                })
                .catch((error) => {
                    this.formErrorsUpdate = error.response.data.errors;
                });
            },


            changePage(page) {
                this.pagination.current_page = page;
                this.getVueItems(page);
            }

        }
    }
</script>