<template>
    <div class="card">
        <div class="card-status bg-blue"></div>
        <div class="card-header">
            <h3 class="card-title">Firmy</h3>
            <div class="card-options">
                <a data-toggle="modal" data-target="#create-item" class="">
                    <i class="fe fe-plus"></i>
                </a>
                <a href="#" class="card-options-collapse" data-toggle="card-collapse">
                    <i class="fe fe-chevron-up"></i>
                </a>
                <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen">
                    <i class="fe fe-maximize"></i>
                </a>
            </div>
        </div>

        <table class="table table-responsive-md">
            <tr>
                <th>Identyfikator</th>
                <th>Nazwa</th>
                <th width="200px">Akcje</th>
            </tr>
            <tr v-for="item in items">
                <td>{{ item.id}}</td>
                <td>{{ item.name }}</td>
                <td>
                    <button class="btn btn-primary" @click.prevent="editItem(item)"><i class="fe fe-edit"></i></button>
                    <button class="btn btn-danger" @click.prevent="deleteItem(item)"><i class="fe fe-delete"></i>
                    </button>
                </td>
            </tr>
        </table>


        <!-- Pagination -->
        <nav class="text-center">
            <ul class="pagination">
                <li v-if="pagination.current_page > 1">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(1)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevrons-left"></i>
                        </span>
                    </a>
                </li>
                <li v-if="pagination.current_page > 1">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(pagination.current_page - 1)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevron-left"></i>
                        </span>
                    </a>
                </li>
                <li v-for="page in pagesNumber"
                    v-bind:class="[ page == isActived ? 'active' : '']">
                    <a href="#"
                       @click.prevent="changePage(page)">{{ page }}</a>
                </li>
                <li v-if="pagination.current_page < pagination.last_page">
                    <a href="#" aria-label="Next"
                       @click.prevent="changePage(pagination.current_page + 1)">
                        <i class="fe fe-chevron-right"></i>
                    </a>
                </li>
                <li v-if="pagination.current_page < pagination.last_page">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(pagination.last_page)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevrons-right"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>


        <!-- Create Item Modal -->
        <div class="modal fade" id="create-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Dodaj firmę</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">


                        <form method="POST" enctype="multipart/form-data" v-on:submit.prevent="createItem"
                              class="row col-12">


                            <div class="form-group col-md-12">
                                <label for="title">Nazwa:</label>
                                <input type="text" name="name" class="form-control" v-model="newItem.name"/>
                                <span v-if="formErrors['name']"
                                      class="error text-danger">@{{ formErrors['name'] }}</span>
                            </div>


                            <div class="form-group text-center col-12">
                                <button type="submit" class="btn btn-success">Dodaj</button>
                            </div>


                        </form>


                    </div>
                </div>
            </div>
        </div>


        <!-- Edit Item Modal -->
        <div class="modal fade" id="edit-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Edycja firmy</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">


                        <form method="POST" enctype="multipart/form-data" v-on:submit.prevent="updateItem(fillItem.id)"
                              class="row col-12">

                            <div class="form-group col-md-12">
                                <label for="title">Nazwa:</label>
                                <input type="text" name="name" class="form-control" v-model="fillItem.name"/>
                                <span v-if="formErrorsUpdate['name']" class="error text-danger">@{{ formErrorsUpdate['name'] }}</span>
                            </div>

                            <div class="form-group text-center col-12">
                                <button type="submit" class="btn btn-success">Zapisz</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data: function () {
            return {
                buildings: [],
                items: [],
                search: '',
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
                formErrors: {},
                formErrorsUpdate: {},
                newItem: {"name": ""},
                fillItem: {"name": ""}
            }
        },
        computed: {
            isActived: function () {
                return this.pagination.current_page;
            },
            pagesNumber: function () {
                if (!this.pagination.to) {
                    return [];
                }
                let from = this.pagination.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                let to = from + (this.offset * 2);
                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                let pagesArray = [];
                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },


        mounted() {
            this.getVueItems(this.pagination.current_page);
        },


        methods: {
            getVueItems(page) {
                if (!page)
                    page = this.pagination.current_page;

                axios.get('/company', {
                        page: page
                    })
                    .then((response) => {
                        this.items = response.data.data.data;
                        this.pagination = response.data.pagination;
                    });
            },


            createItem() {
                var input = this.newItem;
                axios.post('/company', input).then((response) => {
                    this.changePage(this.pagination.current_page);
                    this.newItem = {"name": ""};
                    $("#create-item").modal('hide');
                    toastr.success('Element utworzony.', 'Sukces', {timeOut: 5000});
                    this.getVueItems(this.pagination.current_page);
                }, (response) => {
                    this.formErrors = response.data;
                });
            },

            deleteItem(item) {
                swal({
                    title: 'Czy na pewno usunąć?',
                    text: "Nie jesteś w stanie odwrócić tej akcji!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Tak, usuń!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/company/' + item.id).then((response) => {
                            this.changePage(this.pagination.current_page);
                            toastr.success('Element usunięty.', 'Sukces', {timeOut: 5000});
                        });
                    }
                })
            },

            editItem(item) {
                this.fillItem.title = item.title;
                this.fillItem.id = item.id;
                this.fillItem.description = item.description;
                this.fillItem = item;
                $("#edit-item").modal('show');
            },


            updateItem(id) {
                var input = this.fillItem;
                axios.put('/company/' + id, input).then((response) => {
                    this.changePage(this.pagination.current_page);
                    this.fillItem = {'name': ''};
                    $("#edit-item").modal('hide');
                    toastr.success('Element został zaktualizowany.', 'Sukces', {timeOut: 5000});
                }, (response) => {
                    this.formErrorsUpdate = response.data;
                });
            },


            changePage(page) {
                this.pagination.current_page = page;
                this.getVueItems(page);
            }

        }
    }
</script>