<template>
    <div class="card">
        <div class="card-status bg-blue"></div>
        <div class="card-header">
            <h3 class="card-title">Kierownicy</h3>
            <div class="card-options">
                <form method="post" v-on:submit.prevent>
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Wyszukaj..." name="s"
                               v-model="search" v-on:keyup.enter="getVueItems()">
                        <span class="input-group-btn ml-2">
                            <button class="btn btn-sm btn-primary" type="button" @click.prevent="getVueItems()">
                              <span class="fe fe-search"></span>
                            </button>
                          </span>
                    </div>
                </form>
                <a data-toggle="modal" data-target="#create-item" class=""><i class="fe fe-plus"></i></a>
                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                        class="fe fe-chevron-up"></i></a>
                <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
            </div>
        </div>

        <table class="table table-responsive-md">
            <tr>
                <th @click="setOrder('id')">
                    Id
                    <span v-if="order.field == 'id'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>
                <th @click="setOrder('name')">
                    Imię
                    <span v-if="order.field == 'name'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>
                <th @click="setOrder('surname')">
                    Nazwisko
                    <span v-if="order.field == 'surname'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>
                <!--<th>Budowa</th>-->
                <th @click="setOrder('city')">
                    Miejscowość
                    <span v-if="order.field == 'city'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>
                <th width="200px">Akcje</th>
            </tr>
            <tr v-for="item in items">
                <td>{{ item.id}}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.surname }}</td>
                <!--<td>-->
                    <!--<div v-if="item.building">-->
                        <!--{{ item.building.name }}-->
                        <!--<small>{{ item.building.city }}</small>-->
                    <!--</div>-->
                <!--</td>-->
                <td>{{ item.city }}</td>
                <td>
                    <button class="btn btn-primary" @click.prevent="editItem(item)"><i class="fe fe-edit"></i></button>
                    <button class="btn btn-danger" @click.prevent="deleteItem(item)"><i class="fe fe-delete"></i>
                    </button>
                </td>
            </tr>
        </table>


        <!-- Pagination -->
        <nav class="text-center">
            <ul class="pagination">
                <li v-if="pagination.current_page > 1">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(1)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevrons-left"></i>
                        </span>
                    </a>
                </li>
                <li v-if="pagination.current_page > 1">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(pagination.current_page - 1)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevron-left"></i>
                        </span>
                    </a>
                </li>
                <li v-for="page in pagesNumber"
                    v-bind:class="[ page == isActived ? 'active' : '']">
                    <a href="#"
                       @click.prevent="changePage(page)">{{ page }}</a>
                </li>
                <li v-if="pagination.current_page < pagination.last_page">
                    <a href="#" aria-label="Next"
                       @click.prevent="changePage(pagination.current_page + 1)">
                        <i class="fe fe-chevron-right"></i>
                    </a>
                </li>
                <li v-if="pagination.current_page < pagination.last_page">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(pagination.last_page)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevrons-right"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>


        <!-- Create Item Modal -->
        <div class="modal fade" id="create-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Dodaj kierownika</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">


                        <form method="POST" enctype="multipart/form-data" v-on:submit.prevent="createItem"
                              class="row col-12">


                            <div class="form-group col-md-6">
                                <label for="title">Imię:</label>
                                <input type="text" name="name" class="form-control" v-model="newItem.name"/>
                                <span v-if="formErrors['name']"
                                      class="error text-danger">@{{ formErrors['name'] }}</span>
                            </div>


                            <div class="form-group col-md-6">
                                <label for="title">Nazwisko:</label>
                                <input type="text" name="surname" class="form-control" v-model="newItem.surname"/>
                                <span v-if="formErrors['surname']" class="error text-danger">@{{ formErrors['surname'] }}</span>
                            </div>

                            <div class="form-group col-md-6 offset-md-3">
                                <label for="title">Miejscowość:</label>
                                <input type="text" name="city" class="form-control" v-model="newItem.city"/>
                                <span v-if="formErrors['city']"
                                      class="error text-danger">@{{ formErrors['city'] }}</span>
                            </div>


                            <div class="form-group text-center col-12">
                                <button type="submit" class="btn btn-success">Dodaj</button>
                            </div>


                        </form>


                    </div>
                </div>
            </div>
        </div>


        <!-- Edit Item Modal -->
        <div class="modal fade" id="edit-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Edycja kierownika</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">


                        <form method="POST" enctype="multipart/form-data" v-on:submit.prevent="updateItem(fillItem.id)"
                              class="row col-12">

                            <div class="form-group col-md-6">
                                <label for="title">Imię:</label>
                                <input type="text" name="name" class="form-control" v-model="fillItem.name"/>
                                <span v-if="formErrorsUpdate['name']" class="error text-danger">@{{ formErrorsUpdate['name'] }}</span>
                            </div>


                            <div class="form-group col-md-6">
                                <label for="title">Nazwisko:</label>
                                <input type="text" name="surname" class="form-control" v-model="fillItem.surname"/>
                                <span v-if="formErrorsUpdate['surname']" class="error text-danger">@{{ formErrorsUpdate['surname'] }}</span>
                            </div>

                            <div class="form-group col-md-6  offset-md-3">
                                <label for="title">Miejscowość:</label>
                                <input type="text" name="city" class="form-control" v-model="fillItem.city"/>
                                <span v-if="formErrors['city']"
                                      class="error text-danger">@{{ formErrors['city'] }}</span>
                            </div>

                            <div class="form-group text-center col-12">
                                <button type="submit" class="btn btn-success">Zapisz</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                order: {
                    field: 'id',
                    type: 'desc'
                },
                buildings: [],
                items: [],
                search: '',
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
                formErrors: {},
                formErrorsUpdate: {},
                newItem: {"name": "", "surname": "", "city": ""},
                fillItem: {"name": "", "surname": "", "city": ""}
            }
        },
        computed: {
            isActived: function () {
                return this.pagination.current_page;
            },
            pagesNumber: function () {
                if (!this.pagination.to) {
                    return [];
                }
                let from = this.pagination.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                let to = from + (this.offset * 2);
                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                let pagesArray = [];
                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },


        mounted() {
            this.getVueItems(this.pagination.current_page);

            this.getBulidingslist();
        },


        methods: {
            setOrder(field) {
                if(this.order.field == field)
                    this.order.type = this.order.type == "asc"?"desc":"asc";
                else {
                    this.order.field = field;
                    this.order.type = "asc";
                }

                this.getVueItems(1);

            },
            getBulidingslist() {
                axios.get('/mpk?no_limit')
                    .then(response => {
                        this.buildings = response.data;

                        //
                        // setTimeout(() => {
                        //     $('#create-item select').comboSelect();
                        //     $('#edit-item select').comboSelect();
                        // } , 100);

                    });
            },

            getVueItems(page) {
                if (!page)
                    page = this.pagination.current_page;

                let params = {
                    page: page,
                    search: this.search
                }

                if(this.order.field != '') {
                    params['order'] = this.order.field;
                    params['order_direction'] = this.order.type;
                }

                axios.get('/manger',
                    {
                        params
                    })
                    .then((response) => {
                        this.items = response.data.data.data;
                        this.pagination = response.data.pagination;
                    });
            },


            createItem() {
                var input = this.newItem;
                axios.post('/manger', input).
                    then((response) => {
                        this.changePage(1);
                        this.newItem = {"name": "", "surname": "", "city": "", "building_id": 0};
                        $("#create-item").modal('hide');
                        toastr.success('Element utworzony.', 'Sukces', {timeOut: 5000});
                        this.getVueItems(1);
                    }).catch((error) => {
                        if(error.response.data.hasOwnProperty('errors'))
                            this.formErrors = error.response.data.errors;
                        if(error.response.data.hasOwnProperty('message'))
                            toastr.error(error.response.data.message, 'Błąd', {timeOut: 5000});
                    });
            },


            deleteItem(item) {
                swal({
                    title: 'Czy na pewno usunąć?',
                    text: "Nie jesteś w stanie odwrócić tej akcji!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Tak, usuń!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/manger/' + item.id).then((response) => {
                            this.changePage(this.pagination.current_page);
                            toastr.success('Element usunięty.', 'Sukces', {timeOut: 5000});
                        });
                    }
                });
            },


            editItem(item) {
                this.fillItem.title = item.title;
                this.fillItem.id = item.id;
                this.fillItem.description = item.description;
                this.fillItem = item;
                $("#edit-item").modal('show');
            },


            updateItem(id) {
                var input = this.fillItem;
                axios.put('/manger/' + id, input)
                    .then((response) => {
                        this.changePage(this.pagination.current_page);
                        this.fillItem = {'title': '', 'description': '', 'id': ''};
                        $("#edit-item").modal('hide');
                        toastr.success('Element został zaktualizowany.', 'Sukces', {timeOut: 5000});
                    }).catch((error) => {
                        if(error.response.data.hasOwnProperty('errors'))
                            this.formErrorsUpdate = error.response.data.errors;
                        if(error.response.data.hasOwnProperty('message'))
                            toastr.error(error.response.data.message, 'Błąd', {timeOut: 5000});
                    });
            },


            changePage(page) {
                this.pagination.current_page = page;
                this.getVueItems(page);
            }

        }
    }
</script>