<template>
    <div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Wybierz zakres
                </h3>
                <div class="card-options">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                            class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                            class="fe fe-maximize"></i></a>
                </div>
            </div>
            <div class="card-body row">
                <h3 class="col-md-4"> Data </h3>
                <div class="col-md-4">
                    <span> Od </span>
                    <div class="date-pick-container">
                        <input type="text" class="date-pick" readonly @focus="date.show_from = true"
                               v-model="date.date_from">
                    </div>
                    <date-picker @close="date.show_from = false"
                                 v-if="date.show_from"
                                 v-model="date.date_from"
                                 :format="format_date"></date-picker>

                </div>
                <div class="col-md-4">
                    <span> Do </span>
                    <div class="date-pick-container">
                        <input type="text" class="date-pick" readonly @focus="date.show_to = true"
                               v-model="date.date_to">
                    </div>
                    <date-picker @close="date.show_to = false"
                                 v-if="date.show_to"
                                 v-model="date.date_to"
                                 :format="format_date"></date-picker>
                </div>
            </div>
        </div>

        <div class="card card-collapsed">
            <div class="card-header">
                <h3 class="card-title">
                    Filtry
                </h3>
                <div class="card-options">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                            class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                            class="fe fe-maximize"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="row w-100">
                    <div class="col-md-6">
                        <h4> Wybór kierownika </h4>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" placeholder="Wpisz imię lub nazwisko..." v-model="managers.search"
                                       @input="autoCompleteManager"
                                       class="form-control"
                                       @keydown.down="onArrowDownManager"
                                       @keydown.up="onArrowUpManager"
                                       @keydown.enter="onEnterManager">
                                <span class="input-group-append">
                                <button @click="clearManager" class="btn btn-primary" type="button">
                                    <i class="fe fe-x"></i>
                                </button>
                            </span>
                            </div>
                        </div>
                        <div class="panel-footer" v-if="managers.results.length" v-show="managers.isOpen">
                            <ul class="list-group">
                                <li class="list-group-item"
                                    v-for="(result, i) in managers.results"
                                    :key="i"
                                    :class="{ 'is-active': i === managers.arrowCounter }"
                                    @click="setResultManager(result)">
                                    {{ result.name }} {{ result.surname}}
                                    <small v-if="result.cite != ''"> {{ result.city }} {{ result.street }}</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 h6 mt-4" v-if="manager.id !== 0">
                        Kierownik: <br>
                        {{ manager.id }} |
                        {{ manager.name }} {{ manager.surname }}
                        <small v-if="manager.city != ''">
                            {{ manager.city }},
                            ul.
                            {{ manager.street }}
                        </small>
                        <button @click="removeManager" class="btn btn-primary float-right" type="button"><i
                                class="fe fe-x"></i>
                        </button>
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col-md-6">
                        <h4> Wybór pracownika </h4>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" placeholder="Wpisz imię lub nazwisko..." v-model="workers.search"
                                       @input="autoCompleteWorker"
                                       class="form-control"
                                       @keydown.down="onArrowDownWorker"
                                       @keydown.up="onArrowUpWorker"
                                       @keydown.enter="onEnterWorker">
                                <span class="input-group-append">
                                <button @click="clearWorker" class="btn btn-primary" type="button">
                                    <i class="fe fe-x"></i>
                                </button>
                            </span>
                            </div>
                        </div>
                        <div class="panel-footer" v-if="workers.results.length" v-show="workers.isOpen">
                            <ul class="list-group">
                                <li class="list-group-item"
                                    v-for="(result, i) in workers.results"
                                    :key="i"
                                    :class="{ 'is-active': i === workers.arrowCounter }"
                                    @click="setResultWorker(result)">
                                    {{ result.name }} {{ result.surname}}
                                    <small v-if="result.cite != ''"> {{ result.city }} {{ result.street }}</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 h6 mt-4" v-if="worker.id !== 0">
                        Pracownik: <br>
                        {{ worker.id }} |
                        {{ worker.name }} {{ worker.surname }}
                        <small v-if="worker.city != ''">
                            {{ worker.city }},
                            ul.
                            {{ worker.street }}
                        </small>
                        <button @click="removeWorker" class="btn btn-primary float-right" type="button"><i
                                class="fe fe-x"></i>
                        </button>
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col-md-6">
                        <h4> Wybór MPK </h4>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" placeholder="Wpisz imię lub nazwisko..." v-model="mpks.search"
                                       @input="autoCompleteMpk"
                                       class="form-control"
                                       @keydown.down="onArrowDownMpk"
                                       @keydown.up="onArrowUpMpk"
                                       @keydown.enter="onEnterMpk">
                                <span class="input-group-append">
                            <button @click="clearMpk" class="btn btn-primary" type="button">
                                <i class="fe fe-x"></i>
                            </button>
                        </span>
                            </div>
                        </div>
                        <div class="panel-footer" v-if="mpks.results.length" v-show="mpks.isOpen">
                            <ul class="list-group">
                                <li class="list-group-item"
                                    v-for="(result, i) in mpks.results"
                                    :key="i"
                                    :class="{ 'is-active': i === mpks.arrowCounter }"
                                    @click="setResultMpk(result)">
                                    {{ result.name }} {{ result.surname}}
                                    <small v-if="result.cite != ''"> {{ result.city }} {{ result.street }}</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 h6 mt-4" v-if="mpk.id !== 0">
                        MPK: <br>
                        {{ mpk.id }} |
                        {{ mpk.name }} {{ mpk.surname }}
                        <small v-if="mpk.city != ''">
                            {{ mpk.city }},
                            ul.
                            {{ mpk.street }}
                        </small>
                        <button @click="removeMpk" class="btn btn-primary float-right" type="button"><i
                                class="fe fe-x"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <form action="/report" method="POST" id="form" target="_blank" class="sr-only">
            <input type="hidden" name="_token" :value="csrf"/>
            <input type="hidden" name="type" v-model="type"/>
            <input type="hidden" name="month" v-model="month"/>
            <input type="hidden" name="year" v-model="year"/>
            <input type="hidden" name="date_from" v-model="date.date_from"/>
            <input type="hidden" name="date_to" v-model="date.date_to"/>
            <input type="hidden" name="manager" v-model="manager.id" v-if="manager.id != 0"/>
            <input type="hidden" name="worker" v-model="worker.id" v-if="worker.id != 0"/>
            <input type="hidden" name="mpk" v-model="mpk.id" v-if="mpk.id != 0"/>
        </form>

        <div class="col-12 text-center mb-3">
            <button class="btn btn-primary" @click="send('custom')"> Generuj</button>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Predefiniowane raporty
                </h3>
                <div class="card-options">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                            class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                            class="fe fe-maximize"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="row w-100">
                    <div class="col-12 mb-3 row">
                        <div class="col-md-6">
                            <label class="form-control-label">
                                Wybór roku
                            </label>
                            <select class="form-control" v-model="year">
                                <option :value="(new Date().getFullYear() - n + 1)" v-for="(n, index) in 50">{{ (new Date().getFullYear() - n + 1) }}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-control-label">
                                Wybór miesiąca
                            </label>
                            <select class="form-control" v-model="month">
                                <option value="0">Miesiąc</option>
                                <option value="1">Styczen</option>
                                <option value="2">Luty</option>
                                <option value="3">Marzec</option>
                                <option value="4">Kwiecien</option>
                                <option value="5">Maj</option>
                                <option value="6">Czerwiec</option>
                                <option value="7">Lipiec</option>
                                <option value="8">Sierpien</option>
                                <option value="9">Wrzesien</option>
                                <option value="10">Pazdziernik</option>
                                <option value="11">Listopad</option>
                                <option value="12">Grudzien</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="#" class="btn btn-info" @click.prevent="send('mpkonly')">
                            Suma godzin na danym MPK
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="#" class="btn btn-info"  @click.prevent="send('mpk')">
                            Suma godzin na danym MPK miesiąc
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="#" class="btn btn-info" @click.prevent="send('manager')">
                            Suma godzin na danego kierownika
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import DatePicker from 'vue-md-date-picker';

    export default {
        components: {
            DatePicker
        },
        data() {
            return {
                year: new Date().getFullYear(),
                month: (new Date().getMonth() + 1),
                type: '',
                csrf: document.head.querySelector('meta[name="csrf-token"]').content,
                date: {
                    show_from: false,
                    show_to: false,
                    date_from: this.getToday(),
                    date_to: this.getToday(),
                },
                manager: {
                    id: 0
                },
                managers: {
                    isOpen: false,
                    results: [],
                    search: "",
                    arrowCounter: -1
                },
                worker: {
                    id: 0
                },
                workers: {
                    isOpen: false,
                    results: [],
                    search: "",
                    arrowCounter: -1
                },
                mpk: {
                    id: 0
                },
                mpks: {
                    isOpen: false,
                    results: [],
                    search: "",
                    arrowCounter: -1
                },
            }
        },
        methods: {


            // Manager


            removeManager() {
                this.manager.id = 0;
            },

            clearManager() {
                this.managers.search = "";
                this.managers.id = 0;
                this.managers.arrowCounter = -1;
            },
            autoCompleteManager() {
                this.managers.results = [];
                if (this.managers.search.length > 1) {
                    axios.get('/manger', {
                        params: {
                            // minonemanager: true,
                            search: this.managers.search
                        }
                    }).then(response => {
                        this.managers.results = response.data.data.data;
                        this.managers.isOpen = this.managers.results.length > 0 ? true : false;
                    });
                }
            },
            setResultManager(result) {
                this.manager = result;

                this.managers.search = "";
                this.managers.arrowCounter = -1;
                this.managers.isOpen = false;
            },
            onArrowDownManager() {
                if (this.managers.arrowCounter < this.managers.results.length) {
                    this.managers.arrowCounter = this.managers.arrowCounter + 1;
                }
            },
            onArrowUpManager() {
                if (this.managers.arrowCounter > 0) {
                    this.managers.arrowCounter = this.managers.arrowCounter - 1;
                }
            },
            onEnterManager() {
                let item = this.managers.results[this.managers.arrowCounter];

                this.managers.arrowCounter = -1;
                this.manager = item;

                this.managers.search = "";
                this.managers.arrowCounter = -1;
                this.managers.isOpen = false;
            },


            // Worker


            removeWorker() {
                this.worker.id = 0;
            },

            clearWorker() {
                this.workers.search = "";
                this.workers.id = 0;
                this.workers.arrowCounter = -1;
            },
            autoCompleteWorker() {
                this.workers.results = [];
                if (this.workers.search.length > 1) {
                    axios.get('/workers', {
                        params: {
                            // minoneworker: true,
                            search: this.workers.search
                        }
                    }).then(response => {
                        this.workers.results = response.data.data.data;
                        this.workers.isOpen = this.workers.results.length > 0 ? true : false;
                    });
                }
            },
            setResultWorker(result) {
                this.worker = result;

                this.workers.search = "";
                this.workers.arrowCounter = -1;
                this.workers.isOpen = false;
            },
            onArrowDownWorker() {
                if (this.workers.arrowCounter < this.workers.results.length) {
                    this.workers.arrowCounter = this.workers.arrowCounter + 1;
                }
            },
            onArrowUpWorker() {
                if (this.workers.arrowCounter > 0) {
                    this.workers.arrowCounter = this.workers.arrowCounter - 1;
                }
            },
            onEnterWorker() {
                let item = this.workers.results[this.workers.arrowCounter];

                this.workers.arrowCounter = -1;
                this.worker = item;

                this.workers.search = "";
                this.workers.arrowCounter = -1;
                this.workers.isOpen = false;
            },


            // MPK


            removeMpk() {
                this.mpk.id = 0;
            },

            clearMpk() {
                this.mpks.search = "";
                this.mpks.id = 0;
                this.mpks.arrowCounter = -1;
            },
            autoCompleteMpk() {
                this.mpks.results = [];
                if (this.mpks.search.length > 1) {
                    axios.get('/mpk', {
                        params: {
                            // minonempk: true,
                            search: this.mpks.search
                        }
                    }).then(response => {
                        this.mpks.results = response.data.data.data;
                        this.mpks.isOpen = this.mpks.results.length > 0 ? true : false;
                    });
                }
            },
            setResultMpk(result) {
                this.mpk = result;

                this.mpks.search = "";
                this.mpks.arrowCounter = -1;
                this.mpks.isOpen = false;
            },
            onArrowDownMpk() {
                if (this.mpks.arrowCounter < this.mpks.results.length) {
                    this.mpks.arrowCounter = this.mpks.arrowCounter + 1;
                }
            },
            onArrowUpMpk() {
                if (this.mpks.arrowCounter > 0) {
                    this.mpks.arrowCounter = this.mpks.arrowCounter - 1;
                }
            },
            onEnterMpk() {
                let item = this.mpks.results[this.mpks.arrowCounter];

                this.mpks.arrowCounter = -1;
                this.mpk = item;

                this.mpks.search = "";
                this.mpks.arrowCounter = -1;
                this.mpks.isOpen = false;
            },


            // Additional


            getToday() {
                return new Date().getFullYear() + '-' + ((new Date().getMonth() + 1) < 9 ? ('0' + (new Date().getMonth() + 1)) : (new Date().getMonth()) + 1) + '-' + (new Date().getDate() < 10 ? '0' + new Date().getDate() : new Date().getDate());
            },
            format_date(date) {
                let date_parts = date.match(/^(\d{4})-(\d+)-(\d+)(.*)$/);
                let year;
                let month;
                let day;

                if (date_parts) {
                    year = ('00' + date_parts[1]).slice(-4);
                    month = ('0' + date_parts[2]).slice(-2);
                    day = ('0' + date_parts[3]).slice(-2);
                    return year + '-' + month + '-' + day + date_parts[4];
                } else {
                    return date;
                }
            },
            send(type) {

                this.type = type;

                console.log(this.type);

                setTimeout(() => {
                    $('#form').submit();
                }, 300);

            },

        },
        mounted() {
        }
    }
</script>
<style>
    .date-pick-container {
        display: inline-block;
        position: relative;
        font-size: 1em;
        width: 10em;
        font-family: sans-serif;
        vertical-align: middle;
    }

    .date-pick {
        border: 1px solid #d2d2d2;
        width: 10em;
        height: 2.2em;
        padding: 0.3em 0.5em;
        font-size: 1em;
    }
</style>
