<template>
    <div class="card">
        <div class="card-status bg-blue"></div>
        <div class="card-header">
            <h3 class="card-title">Karty pracy</h3>
            <div class="card-options">
                <form method="post" v-on:submit.prevent>
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Wyszukaj daty..." name="s"
                               v-model="search" v-on:keyup.enter="getItems()">
                        <span class="input-group-btn ml-2">
                            <button class="btn btn-sm btn-primary" type="button" @click.prevent="getItems()">
                              <span class="fe fe-search"></span>
                            </button>
                          </span>
                    </div>
                </form>
                <form method="post" v-on:submit.prevent class="pl-2">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Wyszukaj po nazwisku"
                               name="s"
                               v-model="name_search" v-on:keyup.enter="getItems()">
                        <span class="input-group-btn ml-2">
                            <button class="btn btn-sm btn-primary" type="button" @click.prevent="getItems()">
                              <span class="fe fe-search"></span>
                            </button>
                          </span>
                    </div>
                </form>
                <a href="/workers/time"><i class="fe fe-plus"></i></a>
                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                        class="fe fe-chevron-up"></i></a>
                <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
            </div>
        </div>

        <table class="table table-responsive-md">
            <tr>
                <th @click="setOrder('id')">
                    Id
                    <span v-if="order.field == 'id'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>

                <th>Pracownik</th>
                <th>Opis</th>

                <th @click="setOrder('date')">
                    Data
                    <span v-if="order.field == 'date'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>

                <th @click="setOrder('time_from')">
                    Od
                    <span v-if="order.field == 'time_from'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>

                <th @click="setOrder('time_to')">
                    Do
                    <span v-if="order.field == 'time_to'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>

                <th @click="setOrder('time_count')">
                    Godzin
                    <span v-if="order.field == 'time_count'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>

                <th width="200px">Akcje</th>
            </tr>
            <tr v-for="item in items">
                <td>{{ item.id}}</td>
                <td>{{ item.user.name }} {{ item.user.surname }}, {{ item.user.street}} {{ item.user.city}}</td>
                <td>{{ short(item.desc) }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.time_from }}</td>
                <td>{{ item.time_to }}</td>
                <td>{{ item.time_count }}</td>
                <td>
                    <button class="btn btn-primary" @click.prevent="editItem(item)"><i class="fe fe-edit"></i></button>
                    <button class="btn btn-danger" @click.prevent="deleteItem(item)"><i class="fe fe-delete"></i>
                    </button>
                    <button class="btn btn-info" @click.prevent="showItem(item)"><i class="fe fe-search"></i></button>
                </td>
            </tr>
        </table>


        <!-- Pagination -->
        <nav class="text-center">
            <ul class="pagination">
                <li v-if="pagination.current_page > 1">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(1)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevrons-left"></i>
                        </span>
                    </a>
                </li>
                <li v-if="pagination.current_page > 1">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(pagination.current_page - 1)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevron-left"></i>
                        </span>
                    </a>
                </li>
                <li v-for="page in pagesNumber"
                    v-bind:class="[ page == isActived ? 'active' : '']">
                    <a href="#"
                       @click.prevent="changePage(page)">{{ page }}</a>
                </li>
                <li v-if="pagination.current_page < pagination.last_page">
                    <a href="#" aria-label="Next"
                       @click.prevent="changePage(pagination.current_page + 1)">
                        <i class="fe fe-chevron-right"></i>
                    </a>
                </li>
                <li v-if="pagination.current_page < pagination.last_page">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(pagination.last_page)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevrons-right"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>


        <!-- Edit Item Modal -->
        <div class="modal fade" id="edit-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Edycja karty pracy</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body" v-if="fillItem.id !== 0">


                        <form method="POST" enctype="multipart/form-data" v-on:submit.prevent="updateItem(fillItem.id)"
                              class="row col-12">

                            <div class="col-md-6">
                                <label> Data: </label>
                                <br>
                                <div class="date-pick-container">
                                    <input type="text" class="date-pick" readonly @focus="fillItem.show_from = true"
                                           v-model="fillItem.date">
                                </div>
                                <date-picker @close="fillItem.show_from = false"
                                             v-if="fillItem.show_from"
                                             v-model="fillItem.date"
                                             :format="format_date"></date-picker>
                                <span v-if="formErrorsUpdate['date']" class="error text-danger">@{{ formErrorsUpdate['date'] }}</span>
                            </div>

                            <div class="col-md-6">
                                <label> Czas: </label>
                                <br>
                                <span> Od godziny </span>
                                <vue-timepicker format="HH" v-model="fillItem.time_from_x"></vue-timepicker>
                                <span v-if="formErrorsUpdate['time_from']" class="error text-danger">@{{ formErrorsUpdate['time_from'] }}</span>
                                <br>
                                <span> Do godziny </span>
                                <vue-timepicker format="HH" v-model="fillItem.time_to_x"></vue-timepicker>
                                <span v-if="formErrorsUpdate['time_to']" class="error text-danger">@{{ formErrorsUpdate['time_to'] }}</span>
                            </div>
                            <br>
                            <br>

                            <div class="col-12">
                                <label for="desc">
                                    Opis prac
                                </label>
                                <textarea name="desc" v-model="fillItem.desc" class="form-control"
                                          style="display:block; width: 100%"></textarea>
                                <span v-if="formErrorsUpdate['desc']" class="error text-danger">@{{ formErrorsUpdate['desc'] }}</span>
                                <br>
                            </div>

                            <div class="col-6">
                                <label for="desc">
                                    Wybór Kierownika
                                </label>

                                <div class="input-group">
                                    <input type="text" placeholder="Wpisz imię lub nazwisko kierownika" v-model="managers.search"
                                           @input="autoMComplete"
                                           class="form-control"
                                           @keydown.down="onMArrowDown"
                                           @keydown.up="onMArrowUp"
                                           @keydown.enter="onMEnter">
                                </div>

                                <div class="panel-footer" v-if="managers.results.length" v-show="managers.isOpen">
                                    <ul class="list-group">
                                        <li class="list-group-item"
                                            v-for="(result, i) in managers.results"
                                            :key="i"
                                            :class="{ 'is-active': i === managers.arrowCounter }"
                                            @click="setMResult(result)">
                                            {{ result.name }} {{ result.surname }}
                                            <small> {{ result.city }} {{ result.street }}</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6 h6 mt-4" v-if="fillItem.manager && fillItem.manager.id !== 0">
                                {{ fillItem.manager.name }} {{ fillItem.manager.surname }}
                                <small v-if="fillItem.manager.city != ''">
                                    {{ fillItem.manager.city }},
                                    ul.
                                    {{ fillItem.manager.street }}
                                </small>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Budowa</label>
                                        <div class="input-group">
                                            <input type="text" placeholder="Wpisz nazwę budowy"
                                                   v-model="building.search"
                                                   @input="autoBComplete"
                                                   class="form-control"
                                                   @keydown.down="onBArrowDown"
                                                   @keydown.up="onBArrowUp"
                                                   @keydown.enter="onBEnter">
                                        </div>
                                </div>
                                <div class="panel-footer" v-if="building.results.length" v-show="building.isOpen">
                                    <ul class="list-group">
                                        <li class="list-group-item"
                                            v-for="(result, i) in building.results"
                                            :key="i"
                                            :class="{ 'is-active': i === building.arrowCounter }"
                                            @click="setBResult(result)">
                                            {{ result.name }}
                                            <small> {{ result.city }} {{ result.street }}</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6 h6 mt-4" v-if="fillItem.building.id !== 0">
                                {{ fillItem.building.contract_name }}
                            </div>

                            <div class="form-group float-right col-12 text-center">
                                <button type="submit" class="btn btn-success">Zapisz</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Show Item Modal -->
        <div class="modal fade" id="show-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Karta pracy</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body row col-12" v-if="show_item.id !== 0">
                        <div class="col-md-12">
                            <p class="h5">
                                {{ show_item.user.name }} {{ show_item.user.surname }}
                            </p>
                        </div>
                        <br>
                        <br>
                        <div class="col-md-6">
                            <label class="h6"> Data: </label>
                            <br>
                            <span class="badge badge-success">
                                {{ show_item.date }}
                            </span>
                        </div>

                        <div class="col-md-6">
                            <label class="h6"> Czas: </label>
                            <br>
                            <span> Od godziny </span>
                            <span class="badge badge-success">
                                {{ show_item.time_from }}
                            </span>
                            <br>
                            <span class="mt-1"> Do godziny </span>
                            <span class="badge badge-success">
                                {{ show_item.time_to }}
                            </span>
                        </div>

                        <br>
                        <hr class="col-12">
                        <br>

                            <div class="col-md-6">
                                <label class="h6" for="desc">
                                    Kierownik
                                </label>
                                <p>
                                    {{ show_item.manager.name }}
                                    {{ show_item.manager.surname }}
                                </p>
                                <br>
                            </div>

                            <div class="col-md-6">
                                <label class="h6" for="desc">
                                    Budowa
                                </label>
                                <p>
                                    {{ show_item.building.name }}
                                </p>
                                <br>
                            </div>

                        <br>
                        <hr class="col-12">
                        <br>

                        <div class="col-12">
                            <label class="h6" for="desc">
                                Opis prac
                            </label>
                            <p>
                                {{ show_item.desc }}
                            </p>
                            <br>
                        </div>

                        <div class="col-12" v-if="show_item.changes.length && chef">
                            <label class="h6"> Zmiany </label>
                            <ul>
                                <li v-for="change in show_item.changes">
                                    {{ change.user.name }} {{ change.user.surname }} | {{ change.created_at }}
                                </li>
                            </ul>
                        </div>

                        <div class="form-group float-right col-12 text-center">
                            <button type="button" data-dismiss="modal" class="btn btn-success">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import DatePicker from 'vue-md-date-picker';
    import VueTimepicker from 'vuejs-timepicker';

    export default {
        components: {
            DatePicker, VueTimepicker
        },
        data: function () {
            return {
                building: {
                    isOpen: false,
                    results: [],
                    search: "",
                    arrowCounter: -1
                },
                managers: {
                    isOpen: false,
                    results: [],
                    search: "",
                    arrowCounter: -1
                },
                order: {
                    field: 'id',
                    type: 'desc'
                },
                items: [],
                chef: 0,
                search: '',
                name_search: '',
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1,
                    last_page: 0
                },
                offset: 4,
                formErrors: {},
                formErrorsUpdate: {},
                fillItem: {
                    id: 0,
                    desc: '',
                    date: '',
                    time_from_x: {
                        HH: "0"
                    },
                    time_to_x: {
                        HH: "0"
                    },
                    time_count: 0,
                    show_from: false,
                    show_to: false,
                    building: {
                        id: 0
                    },
                    manager: {
                        id: 0
                    }
                },
                show_item: {
                    id: 0
                }
            }
        },
        computed: {
            isActived: function () {
                return this.pagination.current_page;
            },
            pagesNumber: function () {
                if (!this.pagination.to) {
                    return [];
                }
                let from = this.pagination.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                let to = from + (this.offset * 2);
                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                let pagesArray = [];
                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },


        mounted() {
            this.getItems(this.pagination.current_page);

            $('body').on("change", ".hour", function () {
                let val = Math.abs(parseInt(this.value, 10) || 1);

                console.log(val);

                if (val > 23)
                    val = 23;
                else if (val < 0)
                    val = 0

                console.log(val);

                $(this).val(val);
            })
        },


        methods: {

            // Buildings


            removeB() {
                this.buildings.id = 0;
            },

            clearB() {
                this.building.search = "";
                this.building.id = 0;
                this.building.arrowCounter = -1;
            },
            autoBComplete() {
                this.building.results = [];
                if (this.building.search.length > 1) {
                    axios.get('/mpk', {
                        params: {
                            // minonemanager: true,
                            search: this.building.search,
                            order: 'name',
                            order_direction: 'asc'
                        }
                    }).then(response => {
                        this.building.results = response.data.data.data;
                        this.building.isOpen = this.building.results.length > 0 ? true : false;
                    });
                }
            },
            setBResult(result) {
                this.fillItem.building.id = result.id;
                this.buildings.name = result.name;
                this.buildings.street = result.street;
                // this.building.managers = result.managers;

                this.fillItem.building.search = "";
                this.fillItem.building.arrowCounter = -1;
                this.fillItem.building.isOpen = false;
            },
            onBArrowDown(evt) {
                if (this.building.arrowCounter < this.building.results.length) {
                    this.building.arrowCounter = this.building.arrowCounter + 1;
                }
            },
            onBArrowUp() {
                if (this.building.arrowCounter > 0) {
                    this.building.arrowCounter = this.building.arrowCounter - 1;
                }
            },
            onBEnter() {
                let building = this.building.results[this.building.arrowCounter];

                this.arrowCounter = -1;
                this.fillItem.building.id = building.id;
                this.fillItem.building.contract_name = building.contract_name;

                this.building.search = "";
                this.building.arrowCounter = -1;
                this.building.isOpen = false;
            },

            // Manager


            removeM() {
                this.buildings.id = 0;
            },

            clearM() {
                this.managers.search = "";
                this.managers.id = 0;
                this.managers.arrowCounter = -1;
            },
            autoMComplete() {
                this.managers.results = [];
                if (this.managers.search.length > 1) {
                    axios.get('/manger', {
                        params: {
                            search: this.managers.search,
                            order: 'name',
                            order_direction: 'asc'
                        }
                    }).then(response => {
                        this.managers.results = response.data.data.data;
                        this.managers.isOpen = this.managers.results.length > 0 ? true : false;
                    });
                }
            },
            setMResult(result) {
                this.fillItem.manager.id = result.id;
                this.fillItem.manager.name = result.name;
                this.fillItem.manager.street = result.street;
                // this.managers.managers = result.managers;

                this.managers.search = "";
                this.managers.arrowCounter = -1;
                this.managers.isOpen = false;
            },
            onMArrowDown(evt) {
                if (this.managers.arrowCounter < this.managers.results.length) {
                    this.managers.arrowCounter = this.managers.arrowCounter + 1;
                }
            },
            onMArrowUp() {
                if (this.managers.arrowCounter > 0) {
                    this.managers.arrowCounter = this.managers.arrowCounter - 1;
                }
            },
            onMEnter() {
                let manager = this.managers.results[this.managers.arrowCounter];

                this.arrowCounter = -1;
                this.fillItem.manager.id = manager.id;
                this.fillItem.manager.name = manager.name;
                this.fillItem.manager.street = manager.street;

                this.managers.search = "";
                this.managers.arrowCounter = -1;
                this.managers.isOpen = false;
            },


            setOrder(field) {
                if (this.order.field == field)
                    this.order.type = this.order.type == "asc" ? "desc" : "asc";
                else {
                    this.order.field = field;
                    this.order.type = "asc";
                }

                this.getItems(1);

            },

            short(text) {
                return text.length > 50 ? text.substring(0, 50) + '...' : text;
            },

            format_date(date) {
                let date_parts = date.match(/^(\d{4})-(\d+)-(\d+)(.*)$/);
                let year;
                let month;
                let day;

                if (date_parts) {
                    year = ('00' + date_parts[1]).slice(-4);
                    month = ('0' + date_parts[2]).slice(-2);
                    day = ('0' + date_parts[3]).slice(-2);
                    return year + '-' + month + '-' + day + date_parts[4];
                } else {
                    return date;
                }
            },

            getItems(page) {
                if (!page)
                    page = this.pagination.current_page;

                let params = {
                    page: page,
                    search: this.search,
                    name_search: this.name_search
                }

                if (this.order.field != '') {
                    params['order'] = this.order.field;
                    params['order_direction'] = this.order.type;
                }

                this.fillItem = {
                    desc: '',
                    date: '',
                    time_from_x: {
                        HH: "0"
                    },
                    time_to_x: {
                        HH: "0"
                    },
                    show_from: false,
                    show_to: false,
                    building: {
                        id: 0
                    },
                    manager: {
                        id: 0
                    }
                }

                axios.get('/workers/time/list', {
                    params
                })
                    .then((response) => {
                        this.items = response.data.data.data;
                        this.chef = response.data.chef;
                        this.pagination = response.data.pagination;
                    });
            },

            deleteItem(item) {

                swal({
                    title: 'Czy na pewno usunąć?',
                    text: "Nie jesteś w stanie odwrócić tej akcji!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Tak, usuń!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/workers/time/delete/' + item.id).then((response) => {
                            this.changePage(this.pagination.current_page);
                            toastr.success('Element usunięty.', 'Sukces', {timeOut: 5000});
                        });
                    }
                });
            },


            editItem(item) {

                let time_from = item.time_from.split(/\:|\-/g);
                this.fillItem.time_from_x.HH = time_from[0];

                let time_to = item.time_to.split(/\:|\-/g);
                this.fillItem.time_to_x.HH = time_to[0];

                this.fillItem.time_from = item.time_from;
                this.fillItem.time_to = item.time_to;

                this.fillItem.desc = item.desc;
                this.fillItem.date = item.date;

                this.fillItem.show_from = false;
                this.fillItem.show_to = false;

                this.fillItem.id = item.id;

                this.fillItem.manager = item.manager;
                this.fillItem.building = item.building;

                $("#edit-item").modal('show');
            },


            updateItem(id) {
                var input = this.fillItem;

                if (this.fillItem.time_from.HH >= this.fillItem.time_to.HH)
                    return toastr.error('Złe godziny.', 'Błąd', {timeOut: 5000});

                axios.put('/workers/time/update/' + id, {
                    desc: this.fillItem.desc,
                    date: this.fillItem.date,
                    time_from: this.fillItem.time_from_x.HH,
                    time_to: this.fillItem.time_to_x.HH,
                    manager: this.fillItem.manager.id,
                    building: this.fillItem.building.id,
                })
                    .then((response) => {
                        this.changePage(this.pagination.current_page);
                        this.fillItem = {
                            desc: '',
                            date: '',
                            time_from_x: {
                                HH: "0"
                            },
                            time_to_x: {
                                HH: "0"
                            },
                            show_from: false,
                            show_to: false,
                            building: {
                                id: 0
                            },
                            manager: {
                                id: 0
                            }
                        }
                        $("#edit-item").modal('hide');
                        toastr.success('Element został zaktualizowany.', 'Sukces', {timeOut: 5000});
                    }).catch((error) => {
                    if (error.response.data.hasOwnProperty('errors'))
                        this.formErrorsUpdate = error.response.data.errors;
                    if (error.response.data.hasOwnProperty('message'))
                        toastr.error(error.response.data.message, 'Błąd', {timeOut: 5000});
                });
            },

            showItem(item) {
                this.show_item = item;
                $("#show-item").modal('show');
            },

            changePage(page) {
                this.pagination.current_page = page;
                this.getItems(page);
            }

        }
    }
</script>