<template>
    <div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Wybierz pracownika</h3>
                <div class="card-options">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                            class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                            class="fe fe-maximize"></i></a>
                </div>
            </div>
            <div class="card-body row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Pracownik</label>
                        <div class="input-group">
                            <input type="text" placeholder="Wpisz imię lub nazwisko..." v-model="search"
                                   @input="autoComplete"
                                   class="form-control"
                                   @keydown.down="onArrowDown"
                                   @keydown.up="onArrowUp"
                                   @keydown.enter="onEnter">
                            <span class="input-group-append">
                            <button @click="clear" class="btn btn-primary" type="button"><i
                                    class="fe fe-x"></i> </button>
                        </span>
                        </div>
                    </div>
                    <div class="panel-footer" v-if="results.length" v-show="isOpen">
                        <ul class="list-group">
                            <li class="list-group-item"
                                v-for="(result, i) in results"
                                :key="i"
                                :class="{ 'is-active': i === arrowCounter }"
                                @click="setResult(result)">
                                {{ result.name }} {{ result.surname}}
                                <small v-if="result.cite != ''"> {{ result.city }} {{ result.street }}</small>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6" v-if="user">
                    <ul>
                        <li v-for="(user, i) in users">
                            {{ user.name }}
                            {{ user.surname }}
                            <small v-if="user.city != ''">
                                {{ user.post_code }} {{ user.city }},
                                ul.{{ user.street }} ( {{ user.state }} )
                            </small>
                            <button @click="remove(i)" class="btn btn-primary float-right" type="button"><i class="fe fe-x"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card" v-show="user">
            <div class="card-header">
                <h3 class="card-title">
                    Wybierz datę
                </h3>

                <div class="card-options">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                            class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                            class="fe fe-maximize"></i></a>
                </div>
            </div>
            <div class="card-body row text-center">
                <div class="col-md-6">
                    <label> Data: </label>
                    <br>
                    <div class="date-pick-container">
                        <input type="text" class="date-pick" readonly @focus="show_from = true" v-model="date">
                    </div>
                    <date-picker @close="show_from = false"
                         v-if="show_from"
                         v-model="date"
                         :format="format_date"></date-picker>
                    <br>
                    <small class="bad badge badge-danger" v-if="form_error.date"> Uzupełnij datę </small>
                </div>

                <div class="col-md-6">
                    <label> Czas: </label>
                    <br>
                    <span> Od godziny </span>
                    <input type="number" v-model="time_from.HH" min="0" max="23" class="hour">
                    <span> Do godziny </span>
                    <input type="number" v-model="time_to.HH" min="0" max="23" class="hour">
                    <br>
                    <small class="bad badge badge-danger" v-if="form_error.time"> Uzupełnij czas </small>
                </div>
                <br>
                <br>
                <br>
                <br>

                <div class="col-12">
                    <label for="desc">
                        Opis prac
                    </label>
                    <textarea name="desc" v-model="desc" class="form-control" style="display:block; width: 100%"></textarea>
                    <small class="bad badge badge-danger" v-if="form_error.desc"> Uzupełnij opis </small>
                    <br>
                </div>
            </div>
        </div>

        <div class="card" v-show="user">
            <div class="card-header">
                <h3 class="card-title">
                    Wybierz budowlę
                </h3>

                <div class="card-options">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                            class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                            class="fe fe-maximize"></i></a>
                </div>
            </div>
            <div class="card-body row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Budowa</label>
                        <div class="input-group">
                            <input type="text" placeholder="Wpisz nazwę budowy" v-model="building.search"
                                   @input="autoBComplete"
                                   class="form-control"
                                   @keydown.down="onBArrowDown"
                                   @keydown.up="onBArrowUp"
                                   @keydown.enter="onBEnter">
                            <span class="input-group-append">
                            <button @click="clearB" class="btn btn-primary" type="button"><i
                                    class="fe fe-x"></i> </button>
                        </span>
                        </div>
                    </div>
                    <div class="panel-footer" v-if="building.results.length" v-show="building.isOpen">
                        <ul class="list-group">
                            <li class="list-group-item"
                                v-for="(result, i) in building.results"
                                :key="i"
                                :class="{ 'is-active': i === building.arrowCounter }"
                                @click="setBResult(result)">
                                {{ result.name }}
                                <small> {{ result.city }} {{ result.street }}</small>
                            </li>
                        </ul>
                    </div>

                    <small class="bad badge badge-danger" v-if="form_error.building"> Uzupełnij budowę </small>
                </div>
                <div class="col-md-6 h6 mt-4" v-if="buildings.id !== 0">
                    {{ buildings.id }} |
                    {{ buildings.name }}
                    <small>
                        {{ buildings.contract_name }}
                    </small>
                    <button @click="removeB" class="btn btn-primary float-right" type="button"><i class="fe fe-x"></i>
                    </button>
                </div>
            </div>
        </div>


        <div class="card" v-show="user">
            <div class="card-header">
                <h3 class="card-title">
                    Wybierz kierownika
                </h3>

                <div class="card-options">
                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                            class="fe fe-chevron-up"></i></a>
                    <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                            class="fe fe-maximize"></i></a>
                </div>
            </div>
            <div class="card-body row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Kierownik</label>
                        <div class="input-group">
                            <input type="text" placeholder="Wpisz imię lub nazwisko kierownika" v-model="managers.search"
                                   @input="autoMComplete"
                                   class="form-control"
                                   @keydown.down="onMArrowDown"
                                   @keydown.up="onMArrowUp"
                                   @keydown.enter="onMEnter">
                            <span class="input-group-append">
                            <button @click="clearM" class="btn btn-primary" type="button"><i
                                    class="fe fe-x"></i> </button>
                        </span>
                        </div>
                    </div>
                    <div class="panel-footer" v-if="managers.results.length" v-show="managers.isOpen">
                        <ul class="list-group">
                            <li class="list-group-item"
                                v-for="(result, i) in managers.results"
                                :key="i"
                                :class="{ 'is-active': i === managers.arrowCounter }"
                                @click="setMResult(result)">
                                {{ result.name }} {{ result.surname }}
                                <small> {{ result.city }} {{ result.street }}</small>
                            </li>
                        </ul>
                    </div>

                    <small class="bad badge badge-danger" v-if="form_error.manager"> Uzupełnij kierownika </small>
                </div>
                <div class="col-md-6 h6 mt-4" v-if="manager.id !== 0">
                    {{ manager.id }} |
                    {{ manager.name }} {{ manager.surname }}
                    <small v-if="manager.city != ''">
                        {{ manager.city }},
                        ul.
                        {{ manager.street }}
                    </small>
                    <button @click="removeM" class="btn btn-primary float-right" type="button"><i class="fe fe-x"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card card-body" v-if="complete()">
            <div class="col-12 text-center">
                <button class="btn btn-primary" @click="send"> Zapisz i kontynuuj</button>
            </div>
        </div>
    </div>

</template>

<script>
    import DatePicker from 'vue-md-date-picker';
    import VueTimepicker from 'vuejs-timepicker';

    export default {
        components: {
            DatePicker, VueTimepicker
        },
        data: function () {
            return {
                form_error: {
                    desc: true,
                    date: false,
                    time: true,
                    manager: true,
                    building: true
                },
                updated: [],
                user: false,
                users: [],
                search: '',
                results: [],
                building: {
                    isOpen: false,
                    results: [],
                    search: "",
                    arrowCounter: -1
                },
                manager: {
                    id: 0,
                    name: '',
                    surname: ''
                },
                managers: {
                    isOpen: false,
                    results: [],
                    search: "",
                    arrowCounter: -1
                },
                isOpen: false,
                arrowCounter: -1,
                date: new Date().getFullYear() + '-' + ((new Date().getMonth() + 1) < 10 ? ("0" + (new Date().getMonth() + 1)) : (new Date().getMonth()) + 1) + '-' + (new Date().getDate() < 10 ? "0" + new Date().getDate() : new Date().getDate()),
                time_from: {
                    HH: "0"
                },
                time_to: {
                    HH: "0"
                },
                show_from: false,
                show_to: false,
                desc: '',
                buildings: {
                    id: 0,
                    name: '',
                    street: ''
                }
            }
        },


        mounted() {
            document.addEventListener('click', this.handleClickOutside);

            $('body').on("change", ".hour", function() {
                let val = Math.abs(parseInt(this.value, 10) || 1);

                console.log(val);

                if(val > 23)
                    val = 23;
                else if(val < 0)
                    val = 0

                console.log(val);

                $(this).val(val);
            })
        },

        destroyed() {
            document.removeEventListener('click', this.handleClickOutside);
        },

        methods: {
            format_date(date) {
                let date_parts = date.match(/^(\d{4})-(\d+)-(\d+)(.*)$/);
                let year;
                let month;
                let day;

                if (date_parts) {
                    year = ('00' + date_parts[1]).slice(-4);
                    month = ('0' + date_parts[2]).slice(-2);
                    day = ('0' + date_parts[3]).slice(-2);
                    return year + '-' + month + '-' + day + date_parts[4];
                } else {
                    return date;
                }
            },
            complete() {
                let positive = true;
                if(!this.users.length)
                    positive = false;

                // Czas

                if(!this.time_from.hasOwnProperty('HH') || !this.time_to.hasOwnProperty('HH')) {
                    positive = false;
                    if(!this.form_error.time) {
                        this.form_error.time = true;
                    }
                } else if(this.time_from.HH == '0' || this.time_to.HH == '0') {
                    positive = false;

                    if(!this.form_error.time)
                        this.form_error.time = true;
                } else if(parseInt(this.time_from.HH) >= parseInt(this.time_to.HH)) {
                    positive = false;

                    if(!this.form_error.time)
                        this.form_error.time = true;
                } else if(this.form_error.time)
                    this.form_error.time = false;

                // Opis

                if(this.desc === "") {
                    positive = false;

                    if(!this.form_error.desc)
                        this.form_error.desc = true;
                } else
                    if(this.form_error.desc)
                        this.form_error.desc = false;

                // Budowy

                if(this.buildings.id === 0) {
                    positive = false;

                    if(!this.form_error.building)
                        this.form_error.building = true;
                } else
                    if(this.form_error.building)
                        this.form_error.building = false;

                // Kierownicy

                if(this.manager.id == 0) {
                    positive = false;

                    if(!this.form_error.manager)
                        this.form_error.manager = true;
                } else if(this.form_error.manager)
                        this.form_error.manager = false;

                return positive;
            },

            send() {

                axios.post('/workers/time/add',{
                    users: this.users.map((c) => c.id),
                    manager_id: this.manager.id,
                    building_id: this.buildings.id,
                    desc: this.desc,
                    date: this.date,
                    time_from: this.time_from.HH,
                    time_to: this.time_to.HH
                }).then(response => {
                    let data = response.data;
                    if(data.success) {
                        swal({
                            title: 'Sukces!',
                            text: 'Pomyślnie dodano godziny pracy',
                            type: 'success',
                            confirmButtonText: 'Okej'
                        });
                    }
                }).catch((error) => {
                    let text = error.response.data.errors;
                    text = text.map((e) => `<li>${e}</li>`);
                    swal({
                        title: 'Błąd!',
                        html: `Wystąpił błąd: <br> ${text}`,
                        type: 'success',
                        confirmButtonText: 'Okej'
                    });
                })
            },

            // Buildings


            removeB() {
                this.buildings.id = 0;
            },

            clearB() {
                this.building.search = "";
                this.building.id = 0;
                this.building.arrowCounter = -1;
            },
            autoBComplete() {
                this.building.results = [];
                if (this.building.search.length > 1) {
                    axios.get('/mpk', {
                        params: {
                            // minonemanager: true,
                            search: this.building.search,
                            order: 'name',
                            order_direction: 'asc'
                        }
                    }).then(response => {
                        this.building.results = response.data.data.data;
                        this.building.isOpen = this.building.results.length > 0 ? true : false;
                    });
                }
            },
            setBResult(result) {
                this.buildings.id = result.id;
                this.buildings.name = result.name;
                this.buildings.street = result.street;
                this.building.managers = result.managers;

                this.building.search = "";
                this.building.arrowCounter = -1;
                this.building.isOpen = false;
            },
            onBArrowDown(evt) {
                if (this.building.arrowCounter < this.building.results.length) {
                    this.building.arrowCounter = this.building.arrowCounter + 1;
                }
            },
            onBArrowUp() {
                if (this.building.arrowCounter > 0) {
                    this.building.arrowCounter = this.building.arrowCounter - 1;
                }
            },
            onBEnter() {
                let building = this.building.results[this.building.arrowCounter];

                this.arrowCounter = -1;
                this.buildings.id = building.id;
                this.buildings.name = building.name;
                this.buildings.street = building.street;

                this.building.search = "";
                this.building.arrowCounter = -1;
                this.building.isOpen = false;
            },

            // Manager


            removeM() {
                this.buildings.id = 0;
            },

            clearM() {
                this.managers.search = "";
                this.managers.id = 0;
                this.managers.arrowCounter = -1;
            },
            autoMComplete() {
                this.managers.results = [];
                if (this.managers.search.length > 1) {
                    axios.get('/manger', {
                        params: {
                            search: this.managers.search,
                            order: 'name',
                            order_direction: 'asc'
                        }
                    }).then(response => {
                        this.managers.results = response.data.data.data;
                        this.managers.isOpen = this.managers.results.length > 0 ? true : false;
                    });
                }
            },
            setMResult(result) {
                this.manager.id = result.id;
                this.manager.name = result.name;
                this.manager.street = result.street;
                this.managers.managers = result.managers;

                this.managers.search = "";
                this.managers.arrowCounter = -1;
                this.managers.isOpen = false;
            },
            onMArrowDown(evt) {
                if (this.managers.arrowCounter < this.managers.results.length) {
                    this.managers.arrowCounter = this.managers.arrowCounter + 1;
                }
            },
            onMArrowUp() {
                if (this.managers.arrowCounter > 0) {
                    this.managers.arrowCounter = this.managers.arrowCounter - 1;
                }
            },
            onMEnter() {
                let manager = this.managers.results[this.managers.arrowCounter];

                this.arrowCounter = -1;
                this.manager.id = manager.id;
                this.manager.name = manager.name;
                this.manager.street = manager.street;

                this.managers.search = "";
                this.managers.arrowCounter = -1;
                this.managers.isOpen = false;
            },


            // Workers

            remove(i) {
                this.users.splice(i, 1);
                if (!this.users.length)
                    this.user = false;
            },
            clear() {
                this.user = {}
                this.search = "";
            },
            userExist(user) {
                for (let key in this.users)
                    if (this.users[key].id == user.id)
                        return true;
                return false;
            },
            autoComplete() {
                this.results = [];
                if (this.search.length > 1) {
                    axios.get('/workers', {
                        params: {
                            search: this.search,
                            order: 'name',
                            order_direction: 'asc'
                        }
                    }).then(response => {
                        console.log(response);
                        this.results = response.data.data.data;
                        this.isOpen = this.results.length > 0 ? true : false;
                    });
                }
            },
            setResult(result) {
                if (!this.userExist(result)) {
                    this.user = true;
                    this.users.push(result);
                    this.search = ""; //this.user.name + ' ' + this.user.surname;
                    this.isOpen = false;
                } else {
                    swal({
                        title: 'Błąd',
                        text: 'Ten pracownik jest już wybrany',
                        type: 'error',
                        confirmButtonText: 'Okej'
                    });
                }
            },
            handleClickOutside(evt) {
                if (!this.$el.contains(evt.target)) {
                    this.isOpen = false;
                    this.arrowCounter = -1;
                    this.building.isOpen = false;
                    this.building.arrowCounter = -1;
                }
            },
            onArrowDown(evt) {
                if (this.arrowCounter < this.results.length) {
                    this.arrowCounter = this.arrowCounter + 1;
                }
            },
            onArrowUp() {
                if (this.arrowCounter > 0) {
                    this.arrowCounter = this.arrowCounter - 1;
                }
            },
            onEnter() {
                let user = this.results[this.arrowCounter];

                if (!this.userExist(user)) {
                    this.user = true;
                    this.users.push(user);
                    this.search = ""; //this.user.name + ' ' + this.user.surname;
                    this.isOpen = false;
                    this.arrowCounter = -1;
                } else {
                    setTimeout(() => {
                        swal({
                            title: 'Błąd',
                            text: 'Ten pracownik jest już wybrany',
                            type: 'error',
                            confirmButtonText: 'Okej'
                        });
                    }, 10);
                }
            },
        },

    }
</script>

<style scoped>
    .input-group-append .btn {
        z-index: 1;
    }

    .list-group-item.is-active,
    .list-group-item:hover {
        background-color: #4AAE9B;
        color: white;
    }

    .date-pick-container {
        display: inline-block;
        position: relative;
        font-size: 1em;
        width: 10em;
        font-family: sans-serif;
        vertical-align: middle;
    }

    .date-pick {
        border: 1px solid #d2d2d2;
        width: 10em;
        height: 2.2em;
        padding: 0.3em 0.5em;
        font-size: 1em;
    }

</style>