<template>
    <div class="card">
        <div class="card-status bg-blue"></div>
        <div class="card-header">
            <h3 class="card-title">Pracownicy</h3>
            <div class="card-options">
                <form method="post" v-on:submit.prevent>
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Wyszukaj..." name="s" v-model="search" v-on:keyup.enter="getVueItems()">
                        <span class="input-group-btn ml-2">
                            <button class="btn btn-sm btn-primary" type="button" @click.prevent="getVueItems()">
                              <span class="fe fe-search"></span>
                            </button>
                          </span>
                    </div>
                </form>
                <a data-toggle="modal" data-target="#create-item" class=""><i class="fe fe-plus"></i></a>
                <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
            </div>
        </div>

        <table class="table table-responsive-md">
            <tr>
                <th @click="setOrder('id')">
                    Id
                    <span v-if="order.field == 'id'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>
                <th @click="setOrder('name')">
                    Imię
                    <span v-if="order.field == 'name'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>
                <th @click="setOrder('surname')">
                    Nazwisko
                    <span v-if="order.field == 'surname'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>
                <th @click="setOrder('for_an_hour')">
                    Na godzinę
                    <span v-if="order.field == 'for_an_hour'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>
                <th>
                    Firma
                </th>
                <th @click="setOrder('street')">
                    Ulica
                    <span v-if="order.field == 'street'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>
                <th @click="setOrder('city')">
                    Miejscowość
                    <span v-if="order.field == 'city'">
                        <i v-show="order.type == 'asc'" class="fe fe-chevron-up"></i>
                        <i v-show="order.type == 'desc'" class="fe fe-chevron-down"></i>
                    </span>
                </th>
                <th>
                    Województwo
                </th>
                <th>Kod pocztowy</th>
                <th width="200px">Akcje</th>
            </tr>
            <tr v-for="item in items">
                <td>{{ item.id}}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.surname }}</td>
                <td>{{ item.for_an_hour }}</td>
                <td><span v-if="getCompany(item.company_id)"> {{ getCompany(item.company_id).name}} </span></td>
                <td>{{ item.street }}</td>
                <td>{{ item.city }}</td>
                <td>{{ item.state }}</td>
                <td>{{ item.post_code }}</td>
                <td>
                    <button class="btn btn-primary" @click.prevent="editItem(item)"><i class="fe fe-edit"></i> </button>
                    <button class="btn btn-danger" @click.prevent="deleteItem(item)"><i class="fe fe-delete"></i> </button>
                </td>
            </tr>
        </table>


        <!-- Pagination -->
        <nav class="text-center">
            <ul class="pagination">

                <li v-if="pagination.current_page > 1">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(1)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevrons-left"></i>
                        </span>
                    </a>
                </li>
                <li v-if="pagination.current_page > 1">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(pagination.current_page - 1)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevron-left"></i>
                        </span>
                    </a>
                </li>
                <li v-for="page in pagesNumber"
                    v-bind:class="[ page == isActived ? 'active' : '']">
                    <a href="#"
                       @click.prevent="changePage(page)">{{ page }}</a>
                </li>
                <li v-if="pagination.current_page < pagination.last_page">
                    <a href="#" aria-label="Next"
                       @click.prevent="changePage(pagination.current_page + 1)">
                        <i class="fe fe-chevron-right"></i>
                    </a>
                </li>
                <li v-if="pagination.current_page < pagination.last_page">
                    <a href="#" aria-label="Previous"
                       @click.prevent="changePage(pagination.last_page)">
                        <span aria-hidden="true">
                            <i class="fe fe-chevrons-right"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>


        <!-- Create Item Modal -->
        <div class="modal fade" id="create-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Dodaj pracownika</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">


                        <form method="POST" enctype="multipart/form-data" v-on:submit.prevent="createItem" class="row col-12">



                            <div class="form-group col-md-6">
                                <label for="title">Imię:</label>
                                <input type="text" name="name" class="form-control" v-model="newItem.name" />
                                <span v-if="formErrors['name']" class="error text-danger">@{{ formErrors['name'] }}</span>
                            </div>


                            <div class="form-group col-md-6">
                                <label for="title">Nazwisko:</label>
                                <input type="text" name="surname" class="form-control" v-model="newItem.surname" />
                                <span v-if="formErrors['surname']" class="error text-danger">@{{ formErrors['surname'] }}</span>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="title">Na godzinę:</label>
                                <input type="text" name="for_an_hour" class="form-control" v-model="newItem.for_an_hour" />
                                <span v-if="formErrors['for_an_hour']" class="error text-danger">@{{ formErrors['for_an_hour'] }}</span>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="title">Ulica:</label>
                                <input type="text" name="street" class="form-control" v-model="newItem.street" />
                                <span v-if="formErrors['street']" class="error text-danger">@{{ formErrors['street'] }}</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="title">Miejscowość:</label>
                                <input type="text" name="city" class="form-control" v-model="newItem.city" />
                                <span v-if="formErrors['city']" class="error text-danger">@{{ formErrors['city'] }}</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="title">Województwo:</label>
                                <select name="state" class="form-control" v-model="newItem.state" >
                                    <option selected disabled>- - - - - - - - - - - - - - - - - - - - >>> Wybierz wojewodztwo <<< - - - - - - - - - -  - - - - - - - - - -</option>
                                    <option value="Dolnośląskie">Dolnośląskie</option>
                                    <option value="Kujawsko-Pomorskie">Kujawsko-Pomorskie</option>
                                    <option value="Lubelskie">Lubelskie</option>
                                    <option value="Lubuskie">Lubuskie</option>
                                    <option value="Łódzkie">Łódzkie</option>
                                    <option value="Małopolskie">Małopolskie</option>
                                    <option value="Mazowieckie">    Mazowieckie</option>
                                    <option value="Opolskie">Opolskie</option>
                                    <option value="Podkarpackie">Podkarpackie</option>
                                    <option value="Podlaskie">Podlaskie</option>
                                    <option value="Pomorskie">Pomorskie</option>
                                    <option value="Śląskie">Śląskie</option>
                                    <option value="Świętokrzyskie">Świętokrzyskie</option>
                                    <option value="Warmińsko-Mazurskie">Warmińsko-Mazurskie</option>
                                    <option value="Wielkopolskie">Wielkopolskie</option>
                                    <option value="Zachodnio-Pomorskie">Zachodnio-Pomorskie</option>
                                </select>
                                <span v-if="formErrors['state']" class="error text-danger">@{{ formErrors['state'] }}</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="title">Kod pocztowy:</label>
                                <input type="text" name="post_code" class="form-control" v-model="newItem.post_code" />
                                <span v-if="formErrors['post_code']" class="error text-danger">@{{ formErrors['post_code'] }}</span>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="company">Firma:</label>
                                <select name="company" class="form-control" v-model="newItem.company_id">
                                    <option v-for="company in companies" v-bind:value="company.id"> {{ company.name}} </option>
                                </select>
                                <span v-if="formErrors['company']" class="error text-danger">@{{ formErrors['company'] }}</span>
                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Dodaj</button>
                            </div>


                        </form>


                    </div>
                </div>
            </div>
        </div>


        <!-- Edit Item Modal -->
        <div class="modal fade" id="edit-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Edycja pracownika</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">


                        <form method="POST" enctype="multipart/form-data" v-on:submit.prevent="updateItem(fillItem.id)" class="row col-12">

                            <div class="form-group col-md-6">
                                <label for="title">Imię:</label>
                                <input type="text" name="name" class="form-control" v-model="fillItem.name" />
                                <span v-if="formErrorsUpdate['name']" class="error text-danger">@{{ formErrorsUpdate['name'] }}</span>
                            </div>


                            <div class="form-group col-md-6">
                                <label for="title">Nazwisko:</label>
                                <input type="text" name="surname" class="form-control" v-model="fillItem.surname" />
                                <span v-if="formErrorsUpdate['surname']" class="error text-danger">@{{ formErrorsUpdate['surname'] }}</span>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="title">Na godzinę:</label>
                                <input type="text" name="for_an_hour" class="form-control" v-model="fillItem.for_an_hour" required/>
                                <span v-if="formErrorsUpdate['for_an_hour']" class="error text-danger">@{{ formErrorsUpdate['for_an_hour'] }}</span>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="title">Ulica:</label>
                                <input type="text" name="street" class="form-control" v-model="fillItem.street" />
                                <span v-if="formErrorsUpdate['street']" class="error text-danger">@{{ formErrorsUpdate['street'] }}</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="title">Miejscowość:</label>
                                <input type="text" name="city" class="form-control" v-model="fillItem.city" />
                                <span v-if="formErrorsUpdate['city']" class="error text-danger">@{{ formErrorsUpdate['city'] }}</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="title">Województwo:</label>
                                <select name="state" class="form-control" v-model="fillItem.state" >
                                    <option selected>- - - - - - - - - - - - - - - - - - - - >>> Wybierz wojewodztwo <<< - - - - - - - - - -  - - - - - - - - - -</option>
                                    <option value="Dolnośląskie">Dolnośląskie</option>
                                    <option value="Kujawsko-Pomorskie">Kujawsko-Pomorskie</option>
                                    <option value="Lubelskie">Lubelskie</option>
                                    <option value="Lubuskie">Lubuskie</option>
                                    <option value="Łódzkie">Łódzkie</option>
                                    <option value="Małopolskie">Małopolskie</option>
                                    <option value="Mazowieckie">    Mazowieckie</option>
                                    <option value="Opolskie">Opolskie</option>
                                    <option value="Podkarpackie">Podkarpackie</option>
                                    <option value="Podlaskie">Podlaskie</option>
                                    <option value="Pomorskie">Pomorskie</option>
                                    <option value="Śląskie">Śląskie</option>
                                    <option value="Świętokrzyskie">Świętokrzyskie</option>
                                    <option value="Warmińsko-Mazurskie">Warmińsko-Mazurskie</option>
                                    <option value="Wielkopolskie">Wielkopolskie</option>
                                    <option value="Zachodnio-Pomorskie">Zachodnio-Pomorskie</option>
                                </select>
                                <span v-if="formErrorsUpdate['state']" class="error text-danger">@{{ formErrorsUpdate['state'] }}</span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="title">Kod pocztowy:</label>
                                <input type="text" name="post_code" class="form-control" v-model="fillItem.post_code" />
                                <span v-if="formErrorsUpdate['post_code']" class="error text-danger">@{{ formErrorsUpdate['post_code'] }}</span>
                            </div>


                            <div class="form-group col-md-6">
                                <label for="company">Firma:</label>
                                <select name="company" class="form-control" v-model="fillItem.company_id" required>
                                    <option v-for="company in companies" v-bind:value="company.id"> {{ company.name}} </option>
                                </select>
                                <span v-if="formErrorsUpdate['company']" class="error text-danger">@{{ formErrorsUpdate['company'] }}</span>
                            </div>

                            <div class="form-group float-right">
                                <button type="submit" class="btn btn-success">Zapisz</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                order: {
                    field: 'id',
                    type: 'desc'
                },
                items: [],
                companies: [],
                search: '',
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
                formErrors: {},
                formErrorsUpdate: {},
                newItem: {"name":"","surname":"","for_an_hour":"","street":"","city":"","state":"","post_code":"", "company_id": 0},
                fillItem: {"name":"","surname":"","for_an_hour":"","street":"","city":"","state":"","post_code":"", "company_id": 0}
            }
        },
        computed: {
            isActived: function () {
                return this.pagination.current_page;
            },
            pagesNumber: function () {
                if (!this.pagination.to) {
                    return [];
                }
                let from = this.pagination.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                let to = from + (this.offset * 2);
                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                let pagesArray = [];
                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            },
        },


        mounted() {
            console.log('Component mounted.')
            this.getVueItems(this.pagination.current_page);
            this.getCompanies();
        },


        methods: {
            setOrder(field) {
                if(this.order.field == field)
                    this.order.type = this.order.type == "asc"?"desc":"asc";
                else {
                    this.order.field = field;
                    this.order.type = "asc";
                }

                this.getVueItems(1);

            },
            getCompany: function(id) {
                let company = this.companies.find(x => x.id == id);
                return (company? company:false);
            },

            getCompanies() {

                axios.get('/company')
                    .then((response) => {
                        this.companies = response.data.data.data;
                    });

            },

            getVueItems(page) {
                if(!page)
                    page = this.pagination.current_page;


                let params = {
                    page: page,
                    search: this.search
                }

                if(this.order.field != '') {
                    params['order'] = this.order.field;
                    params['order_direction'] = this.order.type;
                }

                axios.get('/workers',
                    {
                        params
                    })
                    .then((response) => {
                        this.items = response.data.data.data;
                        this.pagination = response.data.pagination;
                    });
            },


            createItem() {
                var input = this.newItem;

                if(!this.newItem.company_id)
                    return toastr.error("Musisz wybrać firmę do której należy pracownik!");

                axios.post('/workers', input)
                    .then((response) => {
                        this.changePage(this.pagination.current_page);
                        this.newItem = {"name":"","surname":"","for_an_hour":"","street":"","city":"","state":"","post_code":""};
                        $("#create-item").modal('hide');
                        toastr.success('Element utworzony.', 'Sukces', {timeOut: 5000});
                    }).catch((error) => {
                        if(error.response.data.hasOwnProperty('errors'))
                            this.formErrors = error.response.data.errors;
                        if(error.response.data.hasOwnProperty('message'))
                            toastr.error(error.response.data.message, 'Błąd', {timeOut: 5000});
                    });
            },


            deleteItem(item) {

                swal({
                    title: 'Czy na pewno usunąć?',
                    text: "Nie jesteś w stanie odwrócić tej akcji!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Tak, usuń!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/workers/' + item.id).then((response) => {
                            this.changePage(this.pagination.current_page);
                            toastr.success('Element usunięty.', 'Sukces', {timeOut: 5000});
                        });
                    }
                });
            },


            editItem(item) {
                this.fillItem.title = item.title;
                this.fillItem.id = item.id;
                this.fillItem.description = item.description;
                this.fillItem = item;
                $("#edit-item").modal('show');
            },


            updateItem(id) {

                if(!this.fillItem.company_id)
                    return toastr.error("Musisz wybrać firmę do której należy pracownik!");

                var input = this.fillItem;
                axios.put('/workers/' + id, input)
                    .then((response) => {
                        this.changePage(this.pagination.current_page);
                        this.fillItem = {'title': '', 'description': '', 'id': ''};
                        $("#edit-item").modal('hide');
                        toastr.success('Element został zaktualizowany.', 'Sukces', {timeOut: 5000});
                    })
                    .catch((error) => {
                        if(error.response.data.hasOwnProperty('errors'))
                            this.formErrorsUpdate = error.response.data.errors;
                        if(error.response.data.hasOwnProperty('message'))
                            toastr.error(error.response.data.message, 'Błąd', {timeOut: 5000});
                    });
            },


            changePage(page) {
                this.pagination.current_page = page;
                this.getVueItems(page);
            }

        }
    }
</script>