
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Toastr
@import "~toastr/toastr";

// Variables
@import "variables";

// Components
@import "components/form/dashboard";
@import "components/pagination";
@import "components/materialselect";

// Pages

body {
  background-color: #eee;
  font-size: 0.9125rem;
}


.minutes {
  display: none;
}